@import url('https://fonts.googleapis.com/css?family=Montserrat:400,600,700&display=swap');

*{
  margin: 0;
  padding: 0;
  list-style: none;
  color: 
  text-decoration: none;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

body{
  background: #e1ecf2;
}

/*NAVBAR & SIDEBAR*/

.wrapper-side{
  margin: 0px;
}

.wrapper-side .top_navbar-side{
  width: calc(100% - 20px);
  height: 60px;
  display: flex;
  position: fixed;
  z-index: 5;
  top: 0px;
}

.wrapper-side .top_navbar-side .hamburger-side{
  width: 50px;
  height: 50px;
  padding: 10px 10px;
    margin: 5px;
    background: #46a3bb;
    border-radius: 50%;
  cursor: pointer;
}

.wrapper-side .top_navbar-side .hamburger-side .all div{
  width: 30px;
  height: 4px;
  background: #fff;
  margin: 5px 0;
  border-radius: 5px;
}


.wrapper-side .top_navbar-side .top_menu-side{
  width: calc(100% - 10px);
  z-index: 5;
  height: 100%;
  background: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px;
  box-shadow: 0 1px 1px rgba(0,0,0,0.1);
}

.wrapper-side .top_navbar-side .top_menu-side .logo img{
    width: 35px;
    height: 40px;
    object-fit: cover;
    object-position: left;
}

.wrapper-side .top_navbar-side .top_menu-side ul{
  display: flex;
}

.wrapper-side .top_navbar-side .top_menu-side ul li a{
  display: block;
  margin: 0 10px;
  width: 35px;
  height: 35px;
  line-height: 35px;
  text-align: center;
  border: 1px solid #46a3bb;
  border-radius: 50%;
  color: #46a3bb;
}

.wrapper-side .top_navbar-side .top_menu-side ul li a:hover{
  background: #46a3bb;
  color: #fff;
}

.wrapper-side .top_navbar-side .top_menu-side ul li a:hover i{
  color: #fff;
}

.wrapper-side .sidebar{
  position: fixed;
  top: 60px;
  left: 0px;
  background: linear-gradient(218deg, rgba(84,222,218,1) 11%, rgba(73,194,208,1) 43%, rgba(31,136,180,1) 100%);;
  width: 225px;
  height: calc(100% - 60px);
  transition: all 0.3s ease;
}

.wrapper-side .sidebar ul li a{
  display: block;
  padding: 20px;
  color: #fff;
  position: relative;
  color: #b8eefc;
  white-space: nowrap;
}

.wrapper-side .sidebar ul li a span.icon{
  margin-right: 10px;
  display: inline-block;
}

.wrapper-side .sidebar ul li a span.title{
  display: inline-block;
}

.wrapper-side .sidebar ul li a:hover,
.wrapper-side .sidebar ul li a.active{
    background: linear-gradient(to right, rgba(84,222,218,1), rgba(73,194,208,1), rgba(31,136,180,1));
    color: #fff;
    padding-left: 30px;
    
}

.wrapper-side .sidebar ul li a:hover:before,
.wrapper-side .sidebar ul li a.active:before{
  display: block;
}

.wrapper-side .main_container{
  width: (100% - 200px);
  margin-top: 70px;
  margin-left: 200px;
  padding: 5px 30px;
  padding-left: 45px;
  transition: all 0.3s ease;
}

.wrapper-side .main_container .item{
  background: #fff;
  margin-bottom: 10px;
  padding: 15px;
  font-size: 14px;
  line-height: 22px;
}

.wrapper-side .main_container h1{
  background: #fff;
  margin-bottom: 10px;
  padding: 15px;
  line-height: 22px;
  font-weight: normal;
}


.wrapper-side.collapse-side .sidebar{
  width: 70px;
}

.wrapper-side.collapse-side .sidebar ul li a{
  text-align: center; 
}

.wrapper-side.collapse-side .sidebar ul li a span.icon{
  margin: 0;
}

.wrapper-side.collapse-side .sidebar ul li a span.title{
  display: none;
}

.wrapper-side.collapse-side .main_container{
  width: (100% - 70px);
  margin-left: 70px;
}

/*********************/

/*Botão de pesquisar*/

.buscar-caja:hover > .buscar-txt {
	position: relative;
	left: 45px;
	width: 180px;
	padding: 0px 6px;
	border-radius: 40px;
	border: 1px solid #46a3bb;
}

.buscar-caja:hover .buscar-btn{
	border: none!important;
	background: white;
	margin-left: 0px;
}

.buscar-btn {
	color: black;
	float: right;
	border-radius: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
	transition: 0.4s;
	color: white;
	cursor: pointer;
}


.buscar-txt {
	border: none;
	height: 35px;
	background: none;
	outline: none;
	float: left;
	padding: 0;
	transition: 0.4s;
	width: 0px;
	line-height: 35px;
}

/***********************/

/*Do botão de notificação*/

.dropdown-menu{
  overflow: scroll;
  width: 290px;
  max-height: 400px;
  margin-right:15px !important;
}

.dropdown-menu h5, .dropdown-menu p{
  padding: 10px;
  border-bottom: 1px solid rgba(0,0,0,.2);
}

.notification p{
  margin: 0px 5px;
  padding-top: 5px;
}

.notification .icon i{
  width: 32px;
  height: 32px;
  background-color: red;
  margin-left: 10px;
}

.notification {
  display: flex;
  margin: 10px;
}

/**************************/

/*De cada post*/

.post{
  padding: 10px 15px;
  margin-bottom: 15px;
  padding-bottom: 15px;
}

.line{
  padding-bottom: 10px;
  border-bottom: 1px solid #ccc;
}

.post img{
  width: 100%;
  min-width: 100px;
  margin-right: 10px;
  margin-bottom: 5px;
  
}

.post h4{
  margin: 0 0 5px 0;
  padding: 0;
}

.creator{
  float: right;
  font-size: 16px;
}

.post button{
  margin-left: 15px;
  float: right;
}

.post:last-child{
  border-bottom: 0;
} 

.cell-list-content-icon i{

  margin-right: 5px;
}
.cell-list-content-icon span{
  margin-right: 10px; 
}

.cell-list-content-tag{
  margin-top: 10px; 
}

.tag-list {
  background-color: #f4f4f4;
  font-size: 14px;
  padding: 6px 14px;
  border-radius: 1em;
  text-decoration: none;
  margin-right: 6px;
  margin-bottom: 5px;
  display: inline-block;
}
/***************************/

.form-check-label{
  margin-left: 15px; 
}

/*isso é de da parte do perfil*/
.tab-content{
  width: 1000px;
}

.container{
  width: 100% !important;
}

.container img{
  border-radius: 50%;
  float: right;

}

.container form{
  margin-top: 15px;
}

.container button{
  padding: 0px;
  margin-right: 10px;
  width: 100px;
  height: 40px !important;
}

.container select{
  height: 34px;
  border-radius: 4px;
}

.container input[type="text"], .container input[type="email"],
.container input[type="password"]{
  width: 400px;
  margin-right: 15px;
}


textarea{
  padding: 5px;
  min-height: 80px;
  width: 100%;
  border-radius: 4px; 
  border-color: #ccc;
}

.container textarea{
  width: 700px;
  min-height: 150px;
}
.container input[type="date"]{
  width: auto;
}



@media (max-width: 640px) {
    .dropdown-menu{
      top: 50px;
      left: -16px;  
      width: 290px;
    } 
    .nav{
      display: block;
    }
    .nav .nav-item,.nav .nav-item a{
      padding-left: 0px;
    }
    .message{
      font-size: 13px;
    }
}
