@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

/*
CORES
  azul: #4058D7
*/
.white {
    background-color: #FFF;
}

.blue {
    background-color: #4058D7 !important;
    color: #FFF !important;
}

.red {
    background-color: red !important;
    color: #FFF !important;
}

body {
    background-color: #F1F4FB !important;
}

.container-fluid {
    height: 100%;
}

input {
    outline: none;
    border: none;
}

/*NAVBAR*/
.nav {
    padding: 10px;
    justify-content: space-between;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10;
    background-color: #F1F4FB !important;
    transition: padding .3s ease-in;
}

.nav .item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 30px;
}

.nav-right {
    display: flex;
}

.search {
    display: flex;
    background-color: rgba(64, 88, 215, 0.1);
    border-radius: 10px;
    padding: 0 10px;
    height: 30px;
}

.search input {
    border: none;
    outline: none;
    background: none;
    font-family: 'Quicksand', sans-serif;
    font-weight: 800;
}

.nav-right .item {
    width: 35px;
    height: 35px;
    text-align: center;
    transition: color .5s ease-in-out;
}

.nav-right .item:hover {
    color: #4058D7;
}

.nav-right .item.hovered::before {
    content: "";
    background-color: #FFF;
    position: absolute;
    width: 1px;
    height: 1px;
    transform: translate(17.5px, 40%);
    transition: width .5s ease-in-out,
        height .5s ease-in-out, margin .5s ease-in, border-radius .5s ease-in, transform .5s ease-in-out;
    border-radius: 30px;
    z-index: -1;
}

.nav-right .item.hovered:hover:before {
    background-color: #FFF;
    position: absolute;
    width: 35px;
    height: 35px;
    transform: translate(0, 0);
    border-radius: 6px;
    margin-left: 0;
    margin-top: 0;
}

.sign {
    display: flex;
}

.sign-button {
    display: none;
}

.modal-body {

    overflow: hidden;
/*    width: 500px;*/
    height: 300px;
    word-break: keep-all;
    text-overflow: ellipsis;
}

.modal-body .login {
        width: 500px;

    height: 300px;
    transition: margin .3s ease-in-out;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.modal-body .sign-up {
    height: 300px;
    margin-top: -300px;
    margin-left: 500px;
    transition: margin .3s ease-in-out;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.login form {
    margin: 0 auto;
}

.on .login {
    margin-left: -500px;
}

.on .sign-up {
    margin-left: 0;
}

.message span {
    cursor: pointer;
    font-weight: 800;
}

@media (max-width: 800px) {
    .sign {
        display: none;
    }

    .sign-button {
        display: flex;
    }

    .modal-dialog {
        padding: 0;
        margin: 0;
        height: 100%;
        min-width: 100%;
    }

    .modal-content {
        min-width: 100%;
        height: 100%;
    }

    .modal-body {
        overflow: hidden;

        min-width: 100%;
        margin: 0;
        padding: 0;
    }

    .modal-body .login {
        /*        background-color: aqua;*/
        height: 100%;
        width: 100%;
        transition: margin .3s ease-in-out;
    }

    .modal-body .sign-up {
        /*        background-color: red;*/
        height: 104%;
        width: 100%;
        margin-top: calc(-100%);
        margin-left: 100%;
        transition: margin .3s ease-in-out;
    }

    .on .login {
        margin-left: -100%;
    }

    .on .sign-up {
        top: 0;
        margin-left: 0;
    }

}

@media (max-width: 1199.98px) {
    .search {
        display: none;
    }
}
