/*******************DO SITE TODO**************************/
@import url('https://fonts.googleapis.com/css?family=Poppins&display=swap');
*,
*:after,
*::before {
	-moz-box-sizing: border-box;
	box-sizing: border-box;
    font-family: "Poppins", sans-serif !important;
    padding: 0;
    list-style: none; 
    text-decoration: none;
}
body{
    margin: 0 !important;
    padding: 0 !important;
}
button{
    border: none;
    cursor: pointer; 
    font-size: 16px;
    padding: 7px;
}
.btn-azul{
    margin: 0 10px;
    text-align: center;
    border-radius: 15px;
    color: #49c2d0;
    text-decoration: none;
    background: none;
    font-weight: 600;
    font-size: 15px;
}
.btn-azul:hover{
    color: #514a9d !important;
}
.btn-degrade {
    color: #fff !important;
    background-size: 300% 100%;
    padding: 10px;
    moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
    box-shadow: 0 4px 5px 0 rgba(101, 112, 113, 0.4);
}
.btn-degrade:hover {
    background-position: 100% 0;
    moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}
.azul{
    background-image: linear-gradient(to right, #24c6dc, #514a9d); 
}

.vermelho{
      background-image: linear-gradient(to left, #190A05, #F00000);
}

.bg-degrade{  
    background: linear-gradient(218deg, rgba(84,222,218,1) 11%, rgba(73,194,208,1) 43%, rgba(31,136,180,1) 100%) !important;
    color: #fff;
}
.modal-content{
    color: #000;   
}
container{
    display: block;
}
/****************************NAVBAR********************************/
/***topnav****/
.modal-dialog{
    margin: 0 auto;
}
/*************************SIDEBAR*******************************/
/*NAVBAR & SIDEBAR*/

.top_navbar-side{
    width: 100%;
    height: 60px;
    display: flex;
    position: fixed;
    z-index: 5;
    top: 0px;
    left: 0;
    box-shadow: 0 4px 8px 0 rgba(101, 112, 113, 0.5);
}

.top_navbar-side .top_menu-side{
    width: 100%;
    z-index: 5;
    height: 100%;

    background: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    box-shadow: 0 1px 1px rgba(0,0,0,0.1);
}

.top_navbar-side .top_menu-side ul{
    display: flex;
    margin-top: 15px;
}

.top_navbar-side .top_menu-side ul li a{
    display: block;
    margin: 20px 10px;
    text-align: center;
    border-radius: 30px;
    color: #49c2d0;
    padding: 15px;
    text-decoration: none;
    height: 50px;
}


/*Botão de pesquisar*/

.buscar-caja:hover > .buscar-txt{
    position: relative;
    left: 45px;
    width: 210px;
    padding: 0px 6px;
    border-radius: 40px;
    border: 2px solid #49c2d0;
}

.buscar-caja:hover .buscar-btn{
    border: none!important;
    margin-left: 0px!important;
}

.buscar-btn {
    float: right;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.4s;
    color: white;
    cursor: pointer;
}

.buscar-txt {
    position: relative;
    right: -20px;
    border: none;
    height: 50px;
    background: none;
    outline: none;
    padding: 15px;
    margin-top: 20px;
    transition: 0.4s;
    width: 0px;
    line-height: 35px;
}

/*********PERFIS**************/
.perfil-top{
    color: #000;
    margin-top: 75px !important;
 background: white;
    margin: 10px;
    border-radius: 20px;
     box-shadow: 0 4px 8px 0 rgba(101, 112, 113, 0.5);
}
/*Do botão de notificação*/

.dropdown-menu{
    width: 100px;
    max-height: 100px;
    margin-right:15px !important;
}

.dropdown-menu h5, .dropdown-menu p{
    padding: 10px;
    border-bottom: 1px solid rgba(0,0,0,.2);
}

.notification p{
    margin: 0px 5px;
    padding-top: 5px;
}

@media (max-width: 640px) {
    .dropdown-menu{
        top: 50px;
        left: -16px;  
        width: 290px;
    } 
    .nav{
        display: block;
    }
    .nav .nav-item,.nav .nav-item a{
        padding-left: 0px;
    }
    .message{
        font-size: 13px;
    }
}

.hamburger-side{
    width: 50px;
    height: 50px;
    padding: 10px;
    border-radius: 50%;
    cursor: pointer;
}

.hamburger-side div{
    width: 30px;
    height: 4px;
    background: #fff;
    margin: 5px 0;
    border-radius: 5px;
}

.left-side{
    width: 200px;
}
.top_navbar-side .top_menu-side{
    width: 100%;
    z-index: 5;
    height: 100%;
    background: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    box-shadow: 0 1px 1px rgba(0,0,0,0.1);
}

.logo{
    height: 40px;
    padding: 0 15px;
    margin-top: 5px;
}

.small{
    width: 65px;
    object-fit: cover;
    object-position: left;
}

.redondo{
    width: 50px;    
    height: 50px;
    border-radius: 50%;
    display: block;
    padding: 10px!important;
    line-height: 35px;
    text-align: center;
    font-size: 20px;
}

/*** CONTAINERS****/

.c-header{
    background: linear-gradient(218deg, rgba(84,222,218,1) 11%, rgba(73,194,208,1) 43%, rgba(31,136,180,1) 100%);
    padding: 100px;
    color: white;
    margin-bottom: -100px;
}

.modal-btn {
    font-size: 16px;
    color: #fff !important;
    cursor: pointer;
    background-size: 300% 100%;
    padding: 10px;
    border-radius: 10px;
    moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
    box-shadow: 0 4px 8px 0 rgba(101, 112, 113, 0.5);
}

.modal-btn:hover {
    background-position: 100% 0;
    moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
    text-decoration: none;
    color: white;
}

.modal-btn:focus {
    outline: none;
}

.description{
    text-align: center;
    padding: 50px;
    height: 200px;
}




/*******************************
* MODAL AS LEFT/RIGHT SIDEBAR
* Add "left" or "right" in modal parent div, after class="modal".
* Get free snippets on bootpen.com
*******************************/
.modal.left .modal-dialog {
    
    position: fixed;
    margin: 0;
    top: 0;
    left: 0;
    width: 310px;
    height: 100%;
    -webkit-transform: translate3d(0%, 0, 0);
    -ms-transform: translate3d(0%, 0, 0);
    -o-transform: translate3d(0%, 0, 0);
    transform: translate3d(0%, 0, 0);
}

.modal.left .modal-content{
    background-color: #e3e3e3;
    height: 100%;
}

.modal.left .modal-body {
    width: 330px;
    margin-left: -65px;
    margin-top: -27px;
}
.modal.left::after{
    display:none;
}

/*Left*/
.modal.left.fade .modal-dialog{
    left: -320px;
    bottom: 0;
    -webkit-transition: opacity 0.1s linear;
    -moz-transition: opacity 0.1s linear;
    -o-transition: opacity 0.1s linear;
    transition: opacity 0.1s linear;
}

.modal.left.fade.in .modal-dialog{
    left: 0;
}

#menu-nav{
    width: 103.4%;
    display: flex;
    margin-bottom: 0;
    padding: 10px;
    padding-bottom: 3px;
   background-color:#fff;
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}
#menu-list li a{
    text-transform: uppercase;
    text-decoration: none;
    list-style: none;
    text-decoration: none;
    font-size: 15px;
     color: inherit;
}

#menu-list li {
    margin-right: -10px;
    color: #2e2d30 !important;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
}
#menu-list li:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(to left, #24c6dc, #514a9d); 
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transform-origin: 0 50%;
  transform-origin: 0 50%;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
#menu-list li:hover, #menu-list li:focus, #menu-list li:active{
  color: #fff !important;
}
#menu-list li:hover:before, #menu-list li:focus:before, #menu-list li:active:before {
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
  -webkit-transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
  transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
}


.icon{
     margin-right: 35px;
}

#menu-list li{
    padding: 20px 15px;
}
#menu-list{
    width: 100%;
}
/* ----- MODAL STYLE ----- */
#sidebar .modal-content{
    border-radius: 0;
    border: none;
}
/********************************************FOOTER*****************************************/
footer{
    background-color: #3f3d56;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    padding: 50px;
    padding-bottom:0;
    color: white;
}

.list-unstyled li a{
    color: white;
    text-decoration: none;
}
.noturno{
    width: 100%;
}

/********Pesquisa**********/

*{
    font-family: "Poppins", sans-serif;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
}

/****/
.tab-config{
    box-shadow: 0 4px 8px 0 rgba(101, 112, 113, 0.5);
}
.nav-config{
    display: block;
}
.nav-config li{
    padding: 10px;
    font-size: 15px;
}
.nav-config li:hover{
    padding: 10px;
    font-size: 15px;
    background-color: aliceblue;
}

.nav-config li.active{
    padding: 10px;
    font-size: 15px;
    background-color: aliceblue;
}
.nav-config li a{
    text-decoration: none;
}
/*** CONTAINERS****/

.user ul{
    margin: 0;
    padding: 0;
    height: 100px;
    overflow: hidden;
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
    -webkit-overflow-scrolling: touch;

}
::-webkit-scrollbar {
    height: 5px;
}



::-webkit-scrollbar-thumb {
    background-color: #b0b0b0;
    background-clip: padding-box;
}

::-webkit-scrollbar-thumb:hover {
    background-color: dimgrey;
}

::-webkit-scrollbar-track {
    background-color: #fff;
}
/* Buttons */
::-webkit-scrollbar-button{
    display: none;
}

.user ul li svg{
    box-shadow: 0 4px 8px 0 rgba(101, 112, 113, 0.5);
    border-radius: 50%;
}
.user ul li{
    position: relative;
    top: 0;
    display: inline-block;
    margin: 5px;    
    width: 70px;
    text-align: center;
}

.user ul h5{
    overflow: hidden;
}


.post{
    padding: 10px 15px;
    margin-bottom: 15px;
    padding-bottom: 15px;
}

.line{
    padding-bottom: 10px;
    border-bottom: 1px solid #ccc;
}

.post img{
    width: 100%;
    min-width: 80px;
    margin-right: 20px;
    margin-bottom: 5px;
}

.post h4{
    margin: 0 0 5px 0;
    padding: 0;
}

.creator{
    float: right;
    font-size: 16px;
}

.post button{
    margin-left: 15px;
    float: right;
}

.post:last-child{
    border-bottom: 0;
} 

.cell-list-content-icon i{

    margin-right: 5px;
}
.cell-list-content-icon span{
    margin-right: 10px; 
}

.cell-list-content-tag{
    margin-top: 10px; 
}

.tag-list {
    background-color: #f4f4f4;
    font-size: 14px;
    padding: 6px 14px;
    border-radius: 1em;
    text-decoration: none;
    margin-right: 6px;
    margin-bottom: 5px;
    display: inline-block;
}

.collapse{
    background-color: #ebebeb;
}

/******************Formulario*******************/
.icon-form{
    height: 150px;

}

.modal-content{
    padding: 10px 50px;

}

small{
    text-align: left;
    display: none;
    float: left;
    margin-bottom: 5px;
    margin-top: 3px;
    color: #dc3545;
}


.sub-title{
    float: left;
    margin-top: 10px;
}

small.invalid{
    display: block;
}

.checkbox-inline{
    margin: 5px;
}

.passwordStrong{
    display: none;
    float: left;
    font-size: 13px;
}

.checkbox-inline input{
    margin-right: 3px;
    width: 15px;
}

/* Style the input fields */
input, textarea{
    padding: 10px;
    width: 100%;
    font-size: 17px;
    border: 1px solid #aaaaaa;
}

/* Mark input boxes that gets an error on validation: */
input.invalid, select.invalid {
    border: 1px solid #dc3545;
}

/* Hide all steps by default: */
.tab {
    display: none;
    padding: 10px;
}

button {
    background-color: #46a3bb;
    color: #ffffff;
    border: none;
    padding: 10px 20px;
    font-size: 17px;
    cursor: pointer;
}

button:hover {
    opacity: 0.8;
}

/* Make circles that indicate the steps of the form: */
.step {
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #46a3bb;
    border: none;
    border-radius: 50%;
    display: inline-block;
    opacity: 0.5;
}

/* Mark the active step: */
.step.active {
    opacity: 1;
}

/* Mark the steps that are finished and valid: */
.step.finish {
    background-color: #46a3bb;
}

.area{
    display: none;
    width: 100%;
}

tr{
    display: none;
    padding: 5px;
    margin: 5px;
    border-radius: 5px;
    background-color: #46a3bb;
    color: #ffffff;
}

/****CONFIGURAÇÕES*******************/

.img-config, .img-config img{
    border-radius: 50%;
}

.img-config{
    background: none;
    border: none;
}