<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

    <link rel="stylesheet" type="text/css" href="/static/css/signedOut.css" />
    <script src='https://kit.fontawesome.com/a076d05399.js'></script>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha256-4+XzXVhsDmqanXGHaHvgh1gMQKX40OUvDEBTu8JcmNs=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.js"></script>
</head>

<body style="overflow-x: hidden">

    <div class="container-fluid">

        <nav class="nav">

            <img alt="Logo" src="/static/imgs/df-logo.svg">
            <div class="search">
                <input placeholder="Pesquise..." />
                <div class="item">
                    <i style='font-size:15px; justify-content: flex-end' class='fas'>&#xf002;</i>
                </div>
            </div>

            <div class="sign">
                <form>
                    <input type="email" placeholder="Email">
                    <input placeholder="senha" type="password">
                    <input type="submit">
                </form>
                <button data-toggle="modal" data-target=".bd-example-modal">Cadastrar</button>
            </div>
            <div class="sign-button" data-toggle="modal" data-target=".bd-example-modal">Icon</div>

        </nav>
        <div class="container-fluid config mt-5">
            <div class="row mt-5">
                <div class="col-12 px-1">
                    <div class="col-sm box white perfil" style="height: 100%">
                        <form style="overflow: hidden">
                            <h6>Fazer cadastro</h6>
                            <div class="section">
                                <div class="group">
                                    <label>Nome do Desafio</label>
                                    <input type="text" placeholder="Nome">
                                </div>
                                <div class="group">
                                    <label>Descrição</label>
                                    <textarea name="Text1" rows="2" placeholder="Descrição"></textarea>

                                </div>

                                <div class="group">
                                    <label>Habilidades</label>

                                    <div class="multiselect">

                                        <div class="dropdown show">
                                            <input class="multisearch my-2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" input id="dropdownMenuLink" placeholder="Pesquisar">



                                            <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                                                <span style="display: none">Nenhum resultado encontrado.</span>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                                <div class="group">
                                    <label>Data de término</label><br>
                                    <input type="date" max="3000" min="1" style="width: 50%">
                                    <input type="time" placeholder="Devs." style="width: 48.8%">
                                </div>

                            </div>
                            <div class="section">
                                <div class="group">
                                    <label>Nome do Desafio</label>
                                    <input type="text" placeholder="Nome">
                                </div>
                                <div class="group">
                                    <label>Descrição</label>
                                    <textarea name="Text1" rows="2" placeholder="Descrição"></textarea>

                                </div>

                                <div class="group">
                                    <label>Habilidades</label>

                                    <div class="multiselect">

                                        <div class="dropdown show">
                                            <input class="multisearch my-2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" input id="dropdownMenuLink" placeholder="Pesquisar">



                                            <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                                                <span style="display: none">Nenhum resultado encontrado.</span>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                                <div class="group">
                                    <label>Data de término</label><br>
                                    <input type="date" max="3000" min="1" style="width: 50%">
                                    <input type="time" placeholder="Devs." style="width: 48.8%">
                                </div>

                            </div>
                            <div class="section">
                                <div class="group">
                                    <label>Nome do Desafio</label>
                                    <input type="text" placeholder="Nome">
                                </div>
                                <div class="group">
                                    <label>Descrição</label>
                                    <textarea name="Text1" rows="2" placeholder="Descrição"></textarea>

                                </div>

                                <div class="group">
                                    <label>Habilidades</label>

                                    <div class="multiselect">

                                        <div class="dropdown show">
                                            <input class="multisearch my-2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" input id="dropdownMenuLink" placeholder="Pesquisar">



                                            <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                                                <span style="display: none">Nenhum resultado encontrado.</span>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                                <div class="group">
                                    <label>Data de término</label><br>
                                    <input type="date" max="3000" min="1" style="width: 50%">
                                    <input type="time" placeholder="Devs." style="width: 48.8%">
                                </div>

                            </div>
                            <div class="section">
                                <div class="group">
                                    <label>Nome do Desafio</label>
                                    <input type="text" placeholder="Nome">
                                </div>
                                <div class="group">
                                    <label>Descrição</label>
                                    <textarea name="Text1" rows="2" placeholder="Descrição"></textarea>

                                </div>

                                <div class="group">
                                    <label>Habilidades</label>

                                    <div class="multiselect">

                                        <div class="dropdown show">
                                            <input class="multisearch my-2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" input id="dropdownMenuLink" placeholder="Pesquisar">



                                            <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                                                <span style="display: none">Nenhum resultado encontrado.</span>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                                <div class="group">
                                    <label>Data de término</label><br>
                                    <input type="date" max="3000" min="1" style="width: 50%">
                                    <input type="time" placeholder="Devs." style="width: 48.8%">
                                </div>

                            </div>

                            <div>
                                <div class="group" style="display:flex; text-align: center; justify-content: center; margin-bottom: 5px">
                                    <span class="index">Anterior</span>
                                    <span class="index blue">Próximo</span>
                                    <a href="desafiosInscritos.html"><button style="z-index: 3;" type="submit" class="blue">Cadastrar</button></a>
                                </div>
                            </div>


                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade bd-example-modal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content mx-auto border-0">

                    <div class="modal-body p-0 ">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        <div class="login">
                            <form>
                                <input placeholder="Email" required>
                                <input placeholder="senha" type="password" required>
                                <input type="submit">
                            </form>
                            <div class="message">
                                Não tem conta? <span>Se cadastre</span>
                            </div>

                        </div>
                        <div class="sign-up">
                            <a href="cadastroDev.html">
                                <button>
                                    Desenvolvedor
                                </button>
                            </a>

                            <a href="cadastroEmp.html">
                                <button>
                                    Empresa
                                </button>
                            </a>
                            <div class="message">
                                Já é cadastrado? <span>Entrar</span>
                            </div>
                        </div>
                    </div>


                </div>
            </div>
        </div>
    </div>
    <script src="/static/js/habilities.js"></script>
    <script src="/static/js/cadastro.js"></script>
   

</body>
