<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

    <link rel="stylesheet" type="text/css" href="../static/css/signedOut.css" >
    <script src='https://kit.fontawesome.com/a076d05399.js'></script>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha256-4+XzXVhsDmqanXGHaHvgh1gMQKX40OUvDEBTu8JcmNs=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.js"></script>
</head>

<body style="overflow-x: hidden">

    <div class="container-fluid">

       <div class="container-fluid">

        <nav class="nav">

            <img alt="Logo" src="../static/imgs/df-logo.svg" />
            <div class="search">
                <input placeholder="Pesquise..." />
                <div class="item">
                    <i style='font-size:15px; justify-content: flex-end' class='fas'>&#xf002;</i>
                </div>
            </div>

            <div class="sign">
                <form style="display: flex; margin: auto 0">
                    <input type="email" class="input mr-1" placeholder="E-mail" style="margin: auto 0">
                    <input placeholder="Senha" class="input mr-1" type="password" style="margin: auto 0">
                    <input type="submit" class="index blue" style="display: inherit">
                </form>
                <button data-toggle="modal" data-target=".bd-example-modal" class="index ml-2" style="display: inherit">Cadastrar</button>
            </div>
            <div class="sign-button" data-toggle="modal" data-target=".bd-example-modal"><i class="fas fa-user-circle"></i></div>

        </nav>
        <div class="container-fluid config mt-5">
            <div class="row mt-5">
                <div class="col-12 px-1">
                    <div class="col-sm box white perfil" style="height: 100%">
                        <form style="overflow: hidden">
                            <h6>Fazer cadastro</h6>
                            <div class="section">
                                <div class="group">
                                    <label>Nome completo</label>
                                    
                                    <input type="text" placeholder="Nome completo" style="width: 100%">
                                </div>
                                <div class="group">
                                    <label>CPF</label>
                                    <input type="text" placeholder="CPF" style="width: 100%">
                                </div>

                                <div class="group">
                                    <label>Data de nascimento</label><br>
                                    <input type="date" max="3000" min="1" style="width: 100%">
                                </div>

                            </div>
                            <div class="section">
                                <div class="group">
                                    <label>Endereço</label>
                                </div>
                                <div class="group">
                                    <input type="text" placeholder="CEP" style="width: 100%">
                                </div>
                                <div class="group">
                                    <div>Estado</div>
                                    <div>Cidade</div>
                                    <div>Bairro</div>
                                    <div>Número</div>
                                </div>
                                <div class="group">
                                    <input type="text" placeholder="Número" style="width: 100%">
                                </div>

                            </div>
                            <div class="section">
                                <div class="group">
                                    <label>E-mail</label>
                                    
                                    <input type="email" placeholder="E-mail" style="width: 100%">
                                </div>
                                <div class="group">
                                    <label>Telefone para contato</label>
                                    <input type="text" placeholder="CPF" style="width: 100%">
                                </div>
                                <div class="group">
                                    <label>Site pessoal</label>
                                    
                                    <input type="email" placeholder="Site pessoal" style="width: 100%">
                                </div>
                                <div class="group">
                                    <label>Tempo de experiência</label>
                                    
                                    <input type="number" min='0' max='100' style="width: 100%">
                                </div>
                                <div class="group">
                                    <label>Defina sua senha</label>
                                    
                                    <input type="password" placeholder="Digite sua senha" style="width: 100%">
                                </div>
                                <div class="group">
                                    <input type="password" placeholder="Digite sua senha novamente" style="width: 100%">
                                </div>


                            </div>
                           <div class="section">
                                <div class="group">
                                    <label>Áreas de atuação</label>

                                    <div class="multiselect area">

                                        <div class="dropdown show">
                                            <input class="multisearch my-2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" input id="dropdownMenuLink" placeholder="Pesquisar">



                                            <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                                                <span style="display: none">Nenhum resultado encontrado.</span>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                                <div class="group">
                                    <label>Habilidades</label>

                                    <div class="multiselect">

                                        <div class="dropdown show">
                                            <input class="multisearch my-2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" input id="dropdownMenuLink" placeholder="Pesquisar">



                                            <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                                                <span style="display: none">Nenhum resultado encontrado.</span>
                                            </div>
                                        </div>

                                    </div>
                                </div>

                            </div>
                            <div class="section">
                                <div class="group">
                                    <label>Currículo</label>
                                    
                                    <input type="file" style="width: 100%">
                                </div>
                                <div class="group">
                                    <label>Linkedin</label>
                                    <input type="url" placeholder="CPF" style="width: 100%">
                                </div>
                                <div class="group">
                                    <label>Github</label><br>
                                    <input type="url" placeholder="Github" style="width: 100%">
                                </div>
                                <div class="group">
                                    <label>Apresentação</label>
                                    
                                    <textarea rows="2" placeholder="Apresente-se aqui"></textarea>
                                </div>
                                <div class="group">
                                    <label>Foto de perfil</label>
                                    
                                    <input type="file" style="width: 100%" accept="image/*">
                                </div>
                            </div>
                            <div>
                                <div class="group" style="display:flex; text-align: center; justify-content: center; margin-bottom: 5px">
                                    <span class="index" style="color: #000;">Anterior</span>
                                    <span class="index blue">Próximo</span>
                                    <input style="z-index: 3;" type="submit" class="blue">
                                </div>
                            </div>


                        </form>
                    </div>
                </div>
            </div>
        </div>
        <footer class="footer row mx-0">
            <div class="container-fluid py-5 mx-0">
                <div class="row">
                    <div class="col-12 divisor"></div>
                    <div class="col-12 col-lg text-center">
                        <img class="img-fluid noturno" src="../static/imgs/df-logo.svg">
                     
                    </div>
                    <div class="col-6 col-md">
                        <h5><i class="fas fa-users"></i> Desenvolvedores</h5>
                        <ul class="list-unstyled text-small">
                            <li><a href="https://github.com/Erigoddess">Erica
                                    Medeiros</a></li>
                            <li><a href="https://github.com/MarlonFL15">Marlon de
                                    Faria</a></li>
                            <li><a href="https://github.com/mnik3007">Monike Freitas</a>
                            </li>
                            <li><a href="https://github.com/Ronaldo64">Ronaldo Costa</a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-6 col-md">
                        <h5><i class="fas fa-map-marker-alt"></i> Endereço</h5>
                        <ul class="list-unstyled text-small">
                            <li><a href="https://goo.gl/maps/hEkmvv2gVBFypU7g6">Av.
                                    Sete de Setembro, 1975, IFAM, Manaus, AM - Brasil</a></li>
                        </ul>
                    </div>
                    <div class="col-6 col-md">
                        <h5><i class="fas fa-at"></i> Contato</h5>
                        <ul class="list-unstyled text-small">
                            <li><a href="#">devfinder@gmail.com</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </footer>
        <div class="modal fade bd-example-modal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content mx-auto border-0">

                    <div class="modal-body p-0 ">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        <div class="login">
                            <img src="../static/imgs/undraw_Login_re_4vu2.svg">
                            <form style="width: 55%">
                                <input placeholder="Email" required class="input mt-2" style="width: 100%">
                                <input placeholder="senha" type="password" required
                                       class="input my-2" style="width: 100%">
                                <input type="submit" class="index blue" style="display: inherit; margin: 0 auto;"  value="Entrar">
                            </form>
                            <div class="message">
                                Não tem conta? <span>Se cadastre</span>
                            </div>
                        </div>
                        <div class="sign-up text-center justify-content-center" >
                            <img src="../static/imgs/undraw_sign_in_e6hj.svg">
                            <a href="cadastroDev.html">
                                <button class="index blue text-center mt-2" style="display: block; margin: 0 auto">
                                    Sou desenvolvedor
                                </button>
                            </a>
                            <a href="cadastroEmp.html">
                                <button class="index blue text-center my-2" style="display: block; margin: 0 auto">
                                    Sou empresa
                                </button>
                            </a>
                            <div class="message">
                                Já é cadastrado? <span>Entrar</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="../static/js/habilities.js"></script>
    <script src="../static/js/cadastro.js"></script>
   

</body>
