<head>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" href="/static/css/signedIn.css" />
    <script src='https://kit.fontawesome.com/a076d05399.js'></script>

</head>

<body>
    <div class="container-fluid">
        <nav class="nav">
            <div class="search">
                <input placeholder="Pesquise..." />
                <div class="item">
                    <i style='font-size:15px; justify-content: flex-end' class='fas'>&#xf002;</i>
                </div>
            </div>

            <div class="nav-right">
                <div class="item">
                    <i style='font-size:20px' class='far'>&#xf0f3;</i>
                </div>
                <div class="item hovered">
                    <i style='font-size:20px' class='far'>&#xf007;</i>
                </div>
            </div>
        </nav>
        <div class="sidebar-column">
            <ul class="sidebar">
                <li class="icon">
                    <img alt="Logo" src="/static/imgs/df-logo.svg">
                </li>
                <li>
                    <a href="#" class="item">
                        <i class="fas fa-home"></i>
                        <div>Início</div>
                    </a>
                </li>
                <li>
                    <a href="meusDesafios.html" class="item">
                        <i class="fas fa-th-list"></i>
                        <div>Meus desafios</div>
                    </a>
                </li>
                <li>
                    <a href="#" class="item active">
                        <i class="fas fa-cog"></i>
                        <div>Configurações</div>
                    </a>
                </li>
                <li>
                    <a href="homepage.html" class="item"> <i class="fas fa-sign-out-alt"></i>
                        <div>Sair</div>
                    </a>

                </li>
            </ul>
        </div>
        <div class="container-fluid content config">
            <div class="row mt-3">
                <div class="col-lg-6 px-1">
                    <div class="col-sm box white perfil" style="height: 98%">
                        <form>
                            <h6>Perfil</h6>

                            <div class="group editar">
                                <label>Nome fantasia</label>
                                <input type="text" placeholder="Nome fantasia">
                            </div>
                            <div class="group editar">
                                <label>Razão social</label>
                                <input type="text" placeholder="Razão social">
                            </div>
                            <div class="group">
                                <label>Descrição</label>
                                <i class="fas fa-pencil-alt" data-toggle="tooltip" data-placement="right" title="Editar"></i>
                                <textarea name="Text1" rows="2" placeholder="Descrição"></textarea>

                            </div>
                            <div class="group editar">
                                <label>Site</label>
                                <input type="url" placeholder="Site">

                            </div>
                            <div class="group editar">
                                <label>Email</label>
                                <input type="email" placeholder="Email">

                            </div>
                            <h6>Informações da empresa</h6>
                            <div class="group">
                                <label>Ramo</label>
                                <select>
                                    <option value="front-end">Front-end</option>
                                    <option value="back-end">Back-end</option>
                                    <option value="full-stack">Full Stack</option>
                                    <option value="data-science">Data Science</option>
                                </select>
                            </div>
                            <div class="group">
                                <label>Tipo de vaga</label>
                                <select>
                                    <option value="front-end">Remota</option>
                                    <option value="back-end">Física</option>
                                    <option value="full-stack">Remota e física</option>
                                </select>
                            </div>
                            <div class="group editar">
                                <label>Total de desenvolvedores</label>
                                <input type="number" max="100" min="1" style="width: 100px" placeholder="Devs.">
                            </div>
                             <div class="group editar">
                                <label>Ano de fundação</label>
                                <input type="date" max="3000" min="1" placeholder="Devs.">
                            </div>
                            
                            
                            <div class="group">
                                <button type="submit" class="blue">Salvar alterações</button>
                            </div>
                            
                        </form>
                    </div>
                </div>
                <div class="col-lg-6 px-1">
                    <div class="col-sm box white">
                        <form>
                            <h6>Dados pessoais</h6>
                            <div class="group">
                                <label>CNPJ</label>
                                <input type="text" placeholder="CNPJ" disabled>
                                <!--                                <i class="fas fa-pencil-alt"></i>-->
                            </div>
                            <div class="group editar">
                                <label>Número</label>
                                <input type="tel" placeholder="Numero">
                            </div>
                            <div class="group editar">
                                <label>Data de Nasc.</label>

                                <input type="date">
                            </div>
                            <div class="group editar">
                                <label>CEP</label>
                                <input type="text" placeholder="CEP">

                            </div>
                            <div class="group">
                                <button type="submit" class="blue">Salvar alterações</button>
                            </div>
                            
                        </form>
                    </div>
                    <div class="col-sm box blue change-password">
                        <h6>Mudar senha</h6>
                        <form>
                            <div class="group">
                                <label>Digite sua senha atual</label>
                                <input type="password">
                            </div>
                            <div class="group">
                                <label>Digite sua nova senha</label>
                                <input type="password">
                            </div>
                            <div class="group">
                                <label>Confirme sua nova senha</label>
                                <input type="password">
                            </div>
                            <div class="group">
                                <button type="submit">Salvar alterações</button>
                            </div>
                        </form>
                    </div>
                </div>

                <div class="col-lg-12 px-1">
                    <div class="col-sm box white">
                        <h6>Conta</h6>
                        <div class="group" style="display: flex;justify-content: space-around">
                        <label style="margin: auto 0">Excluir perfil</label>
                        <button type="submit" style="margin:0;margin-left: 10px" class="red">Excluir</button>
                        </div>
                    </div>
                </div>
            </div>
            
        </div>
    </div>
    <script>
        $(document).ready(function() {

            $('.editar').append(
                '<i class="fas fa-pencil-alt" data-toggle="tooltip" data-placement="right" title="Editar"></i>'
            );
            
            $('[data-toggle="tooltip"]').tooltip();

            $(".group input").attr("readonly", true);

            $(".group textarea").attr("readonly", true);

            $(".group").hover(function() {
                $(this).children('i').css("opacity", "1");
            }, function() {
                $(this).children('i').css("opacity", "0");
            });

            $(".group i").click(function() {
                $(this).parent().find('input').attr("readonly", false);
                $(this).parent().find('textarea').attr("readonly", false);
                $(this).parent().find('input').focus()
                $(this).parent().find('textarea').focus()
                $(this).css("opacity", "0");
            })
            $(".group input").focusout(function() {
                $(this).attr("readonly", true)
                $('[type="password"]').attr("readonly", false);
            })
            $(".group textarea").focusout(function() {
                $(this).attr("readonly", true)
            })

            $('[type="password"]').attr("readonly", false);
        });

    </script>
</body>
