<!DOCTYPE html>
<html lang="pt-br">
<head th:insert="fragment.html :: links">
<meta charset="UTF-8">
</head>
<body>
	<div class="container-fluid">

		<div th:insert="fragment.html :: loggedtopnav"></div>
		<div th:insert="fragment.html :: sidebardev"></div>
		<div class="container-fluid content">
			<div class="row my-3 ml-1">

				<div class="col-lg-6 d-flex graficos px-1 justify-content-center">
					<div class="col-sm-12 box white">
						<canvas id="mais-inscritos" height="200"></canvas>
					</div>
				</div>
				<div class="col-lg-6 d-flex pl-1 graficos justify-content-center">
					<div class="col-sm-12 box white">
						<canvas id="inscritos-submissoes" height="200"></canvas>
					</div>
				</div>
				<div class="row">
					<div class="col-xl-8 mb-2 p-0 mx-auto">
						<div class="col-12 filtro">Veja os desafios que estão em
							alta</div>
						<div class="col-sm-12 filtro mt-2">

							Estado <select class="white filtro-estado">
								<option>Todos</option>
								<option>Finalizados</option>
								<option>Em andamento</option>
							</select> Área <select class="white filtro-area">
								<option>Todos</option>
								<option>Front-end</option>
								<option>Back-end</option>
								<option>Full stack</option>
								<option>Data science</option>
							</select>


						</div>
						<span class="none-result">Nenhum resultado encontrado</span>
						<div class="desafios row mt-2"></div>
					</div>
				</div>
			</div>
		</div>

	</div>


	<script>
		$('#search').change(function() {
			$('#regForm').submit()
		})
	</script>

	<script th:src="@{/js/moldesComponentes.js}"></script>
	<script th:inline="javascript">
		
		var desafios = [[${desafios}]]; //Your Thymleaf variable
		var desafiosSub = [[${desafiosSub}]];
		console.log(desafios)
		console.log(desafiosSub)
		
		var ids = []
		desafiosSub.forEach(function(item, index){
			ids.push(item.id)
		})
		
		for(var i = 0; i < desafios.length; i++){
			var emailEmpresa = desafios[i].emailEmpresa;
			var id = desafios[i].id
			//console.log(desafios[i])
			$.ajax({
    	    	url:'desafioHabilidades/'+emailEmpresa+'/'+id,
	    	    type: "GET",
	    	    async: false,
	            contentType: "application/json",
	    	    data:{
	    	    	
	    	    },
	    	    success: function(response) {
	    	    	
	    	    	var habilidades = []
	    	    
	    	    	for(var j = 0; j < response.length; j++){
	    	    		habilidades.push(response[j].habilidade)
	    	    	}
	    	    	desafios[i].habilidades = habilidades
	    	    	
    	        },
	    	    error: function(error){
	    	    	console.log(error)
	    	    }
			})
		}
		desafios.forEach(function (item, index) {
			if(ids.indexOf(item.id) == -1){
				criarDesafioDesenvolvedor(item.id, item.nome, item.empresa.nomeFantasia, 
		    			item.areaDesenvolvimento, item.descricao, item.habilidades, item.dataFim, item.horarioFim, item.emailEmpresa)
			}
			else{
				criarDesafioParticipando(item.id, item.nome, item.empresa.nomeFantasia, 
		    			item.areaDesenvolvimento, item.descricao, item.habilidades, item.dataFim, item.horarioFim, item.emailEmpresa)
			}	
		
		})
	</script>

	<script th:src="@{/js/filtroDesafio.js}"></script>

	<script th:inline="javascript">
        var perfil = [[${perfil}]]
        
        var ctxBar = document.getElementById('mais-inscritos').getContext('2d');
        var ctxDoughnut = document.getElementById('inscritos-submissoes').getContext('2d');
        var ctxBar = document.getElementById('mais-inscritos').getContext('2d');
        var ctxDoughnut = document.getElementById('inscritos-submissoes').getContext('2d');
		
        var inscricoes = [0,0]
	
        $.ajax({
    	    url:'inscricoesByDesenvolvedor/'+perfil.email,
    	    type: "GET",
    	    async:false,
            contentType: "application/json",
    	    success: function(response) {
    	    	console.log('pqp')
    	    	console.log(response)
    	    	response.forEach(function(item){
    	    		if(item.submetido)
    	    			inscricoes[0] = item.quantidade
    	    		else
    	    			inscricoes[1] = item.quantidade
        	    				
    	    	})
    	    	console.log('desgraça')
    	    	console.log(inscricoes)
    	    	response.forEach(function(item){
    	    		inscricoes[item.nome] = item.inscritos
    	    		
    	    		//maximo = maximo > item.inscritos ? maximo:item.inscritos
    	    	})
    	    	
    	    },
    	    error: function(error){
    	    	console.log(error)
    	    }
    	})

		
        var myChart = new Chart(ctxBar, {
            type: 'pie',
            data : {
            	    datasets: [{
            	        data: inscricoes,
                        backgroundColor: [
                            'rgba(255, 99, 132, 1)',
                            'rgba(54, 162, 235, 1)',
                        ],
            	    }],

            	    // These labels appear in the legend and in the tooltips when hovering different arcs
            	    labels: [
            	        'Submetidos',
            	        'Inscritos',
            	    ]
            	}
        });

		
		const meses = {
			1:"Janeiro",
			2:"Fevereiro",
			3:"Março",
			4:"Abril",
			5:"Maio",
			6:"Junho",
			7:"Julho",
			8:"Agosto",
			9:"Setembro",
			10:"Outubro",
			11:"Novembro",
			12:"Dezembro",
		}
		const dados = {}
		const total = {}
		maximo = 0
		
		/*Esse é o gráfico da quantidade de submissões*/
        $.ajax({
    	    url:'historicoByDesenvolvedor/'+perfil.email,
    	    type: "GET",
    	    async:false,
            contentType: "application/json",
    	    success: function(response) {
    	    	console.log(response)
    	    	response.forEach(function(item){
    	    		total[item.mes] =item.total
    	    		maximo = maximo > item.total ? maximo:item.total
    	    	})
    	    	console.log(total)
    	    	var date = new Date()
    	    	var mes = date.getMonth()+1
    	    	
    	    	for(var i = 0; i<= 7; i++){
    	    		
    	    		dados[meses[mes]] = total[mes] ? total[mes]:0
    	    		mes = mes == 1?12:mes-1
    	    	}
    	    	
    	    	
    	    },
    	    error: function(error){
    	    	console.log(error)
    	    }
    	})

		var values =  Object.values(dados).reverse()
		for(var i = 0; i < values.length; i++){
			if(i != 0)
				values[i] = values[i-1]+values[i]
		}
		
        var myDoughnutChart = new Chart(ctxDoughnut, {
            type: 'line',
            data: {
                labels: Object.keys(dados).reverse(),
                datasets: [{
                    label: 'Submissões por mês',
                    backgroundColor: 'red',
                    borderColor: 'red',
                    data: 
                    	values,
                    
                    fill: false,
                }]
            },
            options: {
                scales: {
                    yAxes: [{
                        ticks: {
                        	suggestedMin: 0,
                        	suggestedMax:(maximo+10) - (maximo+10)%10 
                        }
                    }]
                }
            }
        });

    </script>
    <script th:inline="javascript">
        	var participar = function(id, email){
			//alert(id)
			
			$.ajax({
	    	    url: "/addInscricao",
	    	    type: "GET",
	            contentType: "application/json",
	    	    data:{
	    	    	"id":id,
	    	    	"email":email
	    	    },
	    	    success: function(response) {
	    	    	console.log('deu certo esta merda')
	    
					//console.log(response)  
					console.log('link'+id)
					document.getElementById('link'+id).innerHTML = 'Inscrito'
    	    	   //$('#link'+id).html('Inscrito')
	    	       

		        },
	    	    error: function(xhr) {
		            //Do Something to handle error
		            console.log('deu pau')
		        }
	    	})

		}

		
		
	</script>
</body>
</html>