<!DOCTYPE html>
<html lang="pt-br">
<head th:insert="fragment.html :: links">
<meta charset="UTF-8">
</head>
<body>

	<div class="main_container" id="main_container">
		<div class="row filter m-5">
			<div class="col-sm-9 area_post" id="container">
				dashboard do perfil tal:
				<div th:text="${perfil.email}"></div>
			</div>
		</div>
	</div>

	<div th:insert="fragment.html :: loggedtopnav"></div>
	<div th:insert="fragment.html :: sidebardev"></div>
	<div th:insert="fragment.html :: footer"></div>
	
	<script>
	    $('#search').change(function(){
			 
	    	$('#regForm').submit()
	    	
	    })
	</script>

</body>
</html>