<!DOCTYPE html>
<html lang="pt-br">
<head th:insert="fragment.html :: links">
<meta charset="UTF-8">
</head>
<body>

	<div class="container-fluid">

		<div th:insert="fragment.html :: loggedtopnav"></div>
		<div th:insert="fragment.html :: sidebardev"></div>
		<div class="container-fluid content">
			<div class="row">
				<div class="col-xl-7 mb-2 p-0 desafios mx-3">
					<div class="col-sm-12 filtro mt-2">
						Tempo <select class="white">
							<option>Recentes</option>
							<option>Mais antigos</option>
							<option>Em um mês</option>
							<option>Em uma semana</option>

						</select> Estado <select class="white">
							<option>Todos</option>
							<option>Finalizados</option>
							<option>Em andamento</option>
						</select> Área <select class="white">
							<option>Todos</option>
							<option>Front-end</option>
							<option>Back-end</option>
							<option>Full stack</option>
							<option>Data science</option>
						</select>
					</div>
				</div>
			</div>
		</div>

	</div>

	<script th:src="@{/js/moldesComponentes.js}"></script>
	
	<script th:inline="javascript">
		var desafios = [[${desafios}]]; //Your Thymleaf variable
		
		
		for(var i = 0; i < desafios.length; i++){
			var emailEmpresa = desafios[i].emailEmpresa;
			var id = desafios[i].id
			//console.log(desafios[i])
			$.ajax({
    	    	url:'desafioHabilidades/'+emailEmpresa+'/'+id,
	    	    type: "GET",
	    	    async: false,
	            contentType: "application/json",
	    	    data:{
	    	    	
	    	    },
	    	    success: function(response) {
	    	    	
	    	    	var habilidades = []
	    	    
	    	    	for(var j = 0; j < response.length; j++){
	    	    		habilidades.push(response[j].habilidade)
	    	    	}
	    	    	desafios[i].habilidades = habilidades
	    	    	
    	        },
	    	    error: function(error){
	    	    	console.log(error)
	    	    }
			})
				console.log(desafios[i])		
   		        console.log('terminou o ajax')
		}
		desafios.forEach(function (item, index) {
		    criarDesafio(index, item.nome, item.empresa.nomeFantasia, 
		    			item.areaDesenvolvimento, item.descricao, item.habilidades, item.dataFim, item.horarioFim)
		})
	</script>
	
	<script th:src="@{/js/filtroDesafio.js}"></script>
	<!-- 
	<div class="main_container" id="main_container">
		<div class="row filter m-5">
			<div class="col-sm-9 area_post" id="container">
				desafios inscritos do dev tal
				<div th:text="${perfil.email}"></div>

				<tr th:each="desafio: ${desafios}">
					<div class="post">
						<div class="row">
							<div class="col-sm-12">
								<div class="col-sm-3">
									<img src="http://placehold.it/260x180" alt="">
								</div>
								<div class="col-sm-9">
									<h4 th:text="${desafio.nome}"></h4>
									<p th:text="${desafio.descricao}"></p>
									<div class="cell-list-content-icon">
										<span> <i class="fab fa-dev"></i> <span
											th:text="${desafio.areaDesenvolvimento}"></span></span>

									</div>
									<div class="cell-list-content-tag">
										<td
											th:each="habilidade:${service.getHabilidades(desafio.emailEmpresa, desafio.id)}">
											<span class="tag-list background-gray"
											th:text="${habilidade.getHabilidade()}"></span>
										</td>
									</div>

								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-sm-12 line">
								<div class="col-sm-4">
									<span>Termina em </span> <span th:text="${desafio.dataFim}"></span>
									<span>as </span> <span th:text="${desafio.horarioFim}"></span>
								</div>
								<div>
									<button type="button" class="modal-btn azul"
										data-toggle="modal" data-target="#submeter" th:data-id="${desafio.id}" 
										th:data-email="${desafio.emailEmpresa}">Submeter</button>
									<button type="button" class="modal-btn vermelho"
										data-toggle="modal" data-target="#exclusaoInscricao"
										th:data-id="${desafio.id}" th:data-email="${desafio.emailEmpresa}">Desinscrever</button>
								</div>
							</div>

						</div>
					</div>
				</tr>

			</div>
		</div>
	</div>
<div class="modal fade" id="submeter" tabindex="-1" role="dialog" aria-labelledby="submeter" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="#submeter">Submeter solução</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form th:action="@{/addSolucao}" method="post" enctype="multipart/form-data">
	        <input style="display:none" id="emailEmpresa" type="text" name="emailEmpresa">
	        <input style="display:none" id="id" type="text" name="id">
          <div class="form-group">
            <label >Link da solução</label>
            <input type="text" name="link" class="form-control" placeholder="Link">
          </div>
          <div class="form-group">
            <label>Documentação</label>
            <input type="file" name="documentacao" class="form-control">
          </div>
          <div class="form-group" style="width: 100%">
            <label >Descrição</label>
            <div></div>
            <textarea  name="descricao" placeholder="Descreva um pouco sobre sua solução" style=""></textarea>
          </div>
          <div class="modal-footer">
	        <button type="button" class="btn-azul" data-dismiss="modal">Fechar</button>
	        <button type="submit" class="modal-btn azul">Enviar</button>
	      </div>
        </form>
      </div>

    </div>
   </div>
  </div>
	<div class="modal fade" id="exclusaoInscricao" tabindex="-1"
		role="dialog" aria-labelledby="exampleModalCenterTitle"
		aria-hidden="true">
		<div class="modal-dialog modal-dialog-centered" role="document">
			<div class="modal-content">
				<div class="modal-header border-0">
					<h5 class="modal-title" id="exampleModalLongTitle">Cancelar inscrição</h5>
					<button type="button" class="close" data-dismiss="modal"
						aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body">Tem certeza que deseja cancelar suas inscrição nesse desafio?</div>
				<div class="modal-footer border-0">
					<button type="button" class="btn-azul" data-dismiss="modal">
						<a>Cancelar</a>
					</button>
					<button type="button" class="modal-btn vermelho"><a id="excluir">Desinscrever</a></button>
					
				</div>
			</div>
		</div>
	</div>


	<div th:insert="fragment.html :: loggedtopnav"></div>
	<div th:insert="fragment.html :: sidebardev"></div>
	<div th:insert="fragment.html :: footer"></div>
	<script>
		$('#search').change(function() {
			$('#regForm').submit()
		})
		
		$('#exclusaoInscricao').on('show.bs.modal', function (event) {
			var button = $(event.relatedTarget) 
			var id = button.data('id')
			var email = button.data('email')
			$("#excluir").attr("href","/deleteInscricao/"+email+'/'+id);
			
		})
		$('#submeter').on('show.bs.modal', function (event) {
		
			var button = $(event.relatedTarget) 
			var id = button.data('id')
			var email = button.data('email')
			
			$("#emailEmpresa").attr("value",email);
			$("#id").attr("value",id);
			
		})
	</script>
-->
</body>
</html>