<!DOCTYPE html>
<html lang="pt-br">
<head th:insert="fragment.html :: links">
<meta charset="UTF-8">
</head>

<body>

		<div  class="container-fluid">
		
		<div th:insert="fragment.html :: loggedtopnav"></div>
		<div th:insert="fragment.html :: sidebardev"></div>
		<div class="container-fluid content">
        	<div id="container"></div>    
        </div>
	
	</div>
	
	<script th:inline="javascript">
			/*<![CDATA[*/
   		$('#search').keyup(function(){
           	search() 
           	$('#result').html('Resultados para '+$('#search').val())
    		
        })

   	    window.onload = function() {
    		var pesquisa = [[${pesquisa}]]; //Your Thymleaf variable
    		$('#search').val(pesquisa)
    		
    		search(pesquisa);
    	};
    	const participar = function(id, email){
			
			$.ajax({
	    	    url: "/addInscricao",
	    	    type: "GET",
	            contentType: "application/json",
	    	    data:{
	    	    	"id":id,
	    	    	"email":email
	    	    },
	    	    success: function(response) {
	    	       if(response){
	    	    	   $('#'+id).text('Inscrito')
	    	       }

	    	       else{
	    	    	   console.log('deu ruim')
	    	       }
		        },
	    	    error: function(xhr) {
		            //Do Something to handle error
		            console.log('deu pau')
		        }
	    	})

		}

		
		/*]]>*/
	</script>

</body>
</html>