<!DOCTYPE html>
<html lang="pt-br">
<head th:insert="fragment.html :: links">
<meta charset="UTF-8">
</head>
<body>
	<div class="container-fluid">

		<div th:insert="fragment.html :: loggedtopnav"></div>
		<div th:insert="fragment.html :: sidebaremp"></div>
		<div class="container-fluid content config">
			<div class="row mt-3">
				<div class="col-lg-6 px-1">
					<div class="col-sm box white perfil" style="height: 98%">
						<form th:action="@{/updateDadosPerfilEmp}" method="post">
							<h6>Perfil</h6>

							<div class="group editar">
								<label>Nome fantasia</label> <input
									th:field="${perfil.nomeFantasia}" type="text"
									placeholder="Nome fantasia">
							</div>
							<div class="group editar">
								<label>Razão social</label> <input
									th:field="${perfil.razaoSocial}" type="text"
									placeholder="Razão social">
							</div>
							<div class="group">
								<label>Descrição</label> <i class="fas fa-pencil-alt"
									data-toggle="tooltip" data-placement="right" title="Editar"></i>
								<textarea th:field="${perfil.apresentacao}" rows="2"
									placeholder="Descrição"></textarea>

							</div>
							<div class="group editar">
								<label>Site</label> <input th:field="${perfil.site}" type="url"
									placeholder="Site">

							</div>
							<div class="group editar">
								<label>Email</label> <input th:field="${perfil.email}"
									type="email" placeholder="Email" disabled>

							</div>
							<h6>Informações da empresa</h6>
							<div class="group">
								<label>Ramo</label> <select th:field="${perfil.ramoMercado}">
									<option th:value="Vendas">Vendas</option>
									<option th:value="'TI e software'">TI e software</option>
									<option th:value="Outros">Outros</option>
								</select>
							</div>
							<div class="group">
								<label>Tipo de vaga</label> <select
									th:field="${perfil.tipoVaga}">
									<option th:value="'Vagas remotas'">Vagas remotas</option>
									<option th:value="'Vagas físicas'">Vagas físicas</option>
									<option th:value="'Vagas remotas ou físicas'">Vagas
										remotas ou físicas</option>
								</select>
							</div>
							<div class="group editar">
								<label>Total de desenvolvedores</label> <input
									th:field="${perfil.totalDesenvolvedores}" type="number"
									max="100" min="1" style="width: 100px" placeholder="Devs.">
							</div>

							<div class="group">
								<button type="submit" class="blue">Salvar alterações</button>
							</div>

						</form>
					</div>
				</div>
				<div class="col-lg-6 px-1">
					<div class="col-sm box white">
						<form method="post" th:action="@{/updateDadosPessoaisEmp}">
							<h6>Dados pessoais</h6>
							<div class="group">
								<label>CNPJ</label> <input th:field="${perfil.cnpj}" type="text"
									placeholder="CNPJ" disabled>
								<!--                                <i class="fas fa-pencil-alt"></i>-->
							</div>
							<div class="group editar">
								<label>Número</label> <input th:field="${perfil.telefone}"
									type="tel" placeholder="Numero">
							</div>
							<div class="group editar">
								<label>Ano Fundação</label> <input
									th:field="${perfil.anoFundacao}" type="number" disabled>
							</div>
							<div class="group editar">
								<label>CEP</label> <input th:field="${perfil.endereco.cep}"
									type="text" placeholder="CEP">

							</div>
							<div class="group">
								<button type="submit" class="blue">Salvar alterações</button>
							</div>

						</form>
					</div>
					<div class="col-sm box blue change-password">
						<h6>Mudar senha</h6>
						<form id="changeSenha" th:action="@{/updateSenhaEmp}"
							method="post">
							<div class="group">
								<label>Digite sua senha atual</label> <input id="oldSenha"
									type="password">
							</div>
							<div class="group">
								<label>Digite sua nova senha</label> <input name="senha"
									id="senha" type="password">
							</div>
							<div class="group">
								<label>Confirme sua nova senha</label> <input id="senhaconfirm"
									type="password">
							</div>
							<div class="group">
								<button type="submit">Salvar alterações</button>
							</div>
						</form>
					</div>
				</div>

				<div class="col-lg-12 px-1">
					<div class="col-sm box white">
						<h6>Conta</h6>
						<div class="group"
							style="display: flex; justify-content: space-around">
							<label style="margin: auto 0">Excluir perfil</label>
							<button type="submit" style="margin: 0; margin-left: 10px"
								class="red" data-toggle="modal" data-target="#excluir">Excluir</button>
						</div>
					</div>
				</div>
				<div class="modal fade" id="excluir" tabindex="-1" role="dialog"
					aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
					<div class="modal-dialog modal-dialog-centered" role="document">
						<div class="modal-content border-0">
							<div class="modal-body border-0">
								<button type="button" class="close" data-dismiss="modal"
									aria-label="Close">
									<span aria-hidden="true">&times;</span>
								</button>
								<h5>Confirmar exclusão</h5>
								<div>Você tem certeza que deseja excluir sua conta? Essa
									ação não poderá ser desfeita</div>
									
								<button type="button" class="btn btn-secondary"
									data-dismiss="modal">Cancelar</button>
									
								<button onclick="excluir()" type="button" class="btn btn-danger">
									Sim, quero excluir
								</button>

							</div>
						</div>
					</div>
				</div>
			</div>

		</div>

	</div>

	<script th:inline="javascript">
		var senha = [[${perfil.senha}]]
		$('#changeSenha').submit(function(e){
			
			console.log(document.getElementById('oldSenha').value)
			console.log(document.getElementById('senha').value)
			console.log(document.getElementById('senhaconfirm').value)
			
			if(document.getElementById('oldSenha').value != senha){
				alert('senha incorreta')
				event.preventDefault()
			}
			else{
				if(document.getElementById('senha').value != document.getElementById('senhaconfirm').value){
					alert('senhas digitadas não são iguais')
					event.preventDefault()
				}
				else if(document.getElementById('senha').value == ""){
					alert('a senha não pode ser vazia')
					event.preventDefault()
				}
				
			}
			
		})	
	
	</script>

	<script>
	    $('#search').change(function(){
	    	$('#regForm').submit()
	    })
	    
	    function excluir(){
	    	window.location.href = "deleteEmpresa";
	    }
	    
	</script>
	<script th:inline="javascript">
    
    $(document).ready(function() {

        $('.editar').append(
            '<i class="fas fa-pencil-alt" data-toggle="tooltip" data-placement="right" title="Editar"></i>'
        );
        
        $('[data-toggle="tooltip"]').tooltip();

        $(".group input").attr("readonly", true);

        $(".group textarea").attr("readonly", true);

        $(".group").hover(function() {
        	
            $(this).children('i').css("opacity", "1");
        }, function() {
            $(this).children('i').css("opacity", "0");
        });

        $(".group i").click(function() {
            $(this).parent().find('input').attr("readonly", false);
            $(this).parent().find('textarea').attr("readonly", false);
            $(this).parent().find('input').focus()
            $(this).parent().find('textarea').focus()
            $(this).css("opacity", "0");
        })
        $(".group input").focusout(function() {
            $(this).attr("readonly", true)
            $('[type="password"]').attr("readonly", false);
        })
        $(".group textarea").focusout(function() {
            $(this).attr("readonly", true)
        })

        $('[type="password"]').attr("readonly", false);
    });

</script>

	</script>

</body>
</html>