<!DOCTYPE html>
<html lang="pt-br">
<head th:insert="fragment.html :: links">
<meta charset="UTF-8">
</head>
<body>
	<div class="container-fluid">

		<div th:insert="fragment.html :: loggedtopnav"></div>
		<div th:insert="fragment.html :: sidebaremp"></div>
		<div class="container-fluid content config">
			<div class="row mt-3">
				<div class="col-lg-6 px-1">
					<div class="col-sm box white perfil" style="height: 98%">
						<form th:action="@{/updateDadosPerfilEmp}" method="post">
							<h6>Perfil</h6>

							<div class="group editar">
								<label>Nome fantasia</label> <input
									th:field="${perfil.nomeFantasia}" type="text"
									placeholder="Nome fantasia">
							</div>
							<div class="group editar">
								<label>Razão social</label> <input
									th:field="${perfil.razaoSocial}" type="text"
									placeholder="Razão social">
							</div>
							<div class="group">
								<label>Descrição</label> <i class="fas fa-pencil-alt"
									data-toggle="tooltip" data-placement="right" title="Editar"></i>
								<textarea th:field="${perfil.apresentacao}" cols="38" rows="2"
									placeholder="Descrição"></textarea>

							</div>
							<div class="group editar">
								<label>Site</label> <input th:field="${perfil.site}" type="url"
									placeholder="Site">

							</div>
							<div class="group editar">
								<label>Email</label> <input th:field="${perfil.email}"
									type="email" placeholder="Email" disabled>

							</div>
							<h6>Informações da empresa</h6>
							<div class="group">
								<label>Ramo</label> <select th:field="${perfil.ramoMercado}">
									<option th:value="Vendas">Vendas</option>
									<option th:value="'TI e software'">TI e software</option>
									<option th:value="Outros">Outros</option>
								</select>
							</div>
							<div class="group">
								<label>Tipo de vaga</label> <select
									th:field="${perfil.tipoVaga}">
									<option th:value="'Vagas remotas'">Vagas remotas</option>
									<option th:value="'Vagas físicas'">Vagas físicas</option>
									<option th:value="'Vagas remotas ou físicas'">Vagas
										remotas ou físicas</option>
								</select>
							</div>
							<div class="group editar">
								<label>Total de desenvolvedores</label> <input
									th:field="${perfil.totalDesenvolvedores}" type="number"
									max="100" min="1" style="width: 100px" placeholder="Devs.">
							</div>

							<div class="group">
								<button type="submit" class="blue">Salvar alterações</button>
							</div>

						</form>
					</div>
				</div>
				<div class="col-lg-6 px-1">
					<div class="col-sm box white">
						<form method="post" th:action="@{/updateDadosPessoaisEmp}">
							<h6>Dados pessoais</h6>
							<div class="group">
								<label>CNPJ</label> <input th:field="${perfil.cnpj}" type="text"
									placeholder="CNPJ" disabled>
								<!--                                <i class="fas fa-pencil-alt"></i>-->
							</div>
							<div class="group editar">
								<label>Número</label> <input th:field="${perfil.telefone}"
									type="tel" placeholder="Numero">
							</div>
							<div class="group editar">
								<label>Ano Fundação</label> <input
									th:field="${perfil.anoFundacao}" type="number" disabled>
							</div>
							<div class="group editar">
								<label>CEP</label> <input th:field="${perfil.endereco.cep}"
									type="text" placeholder="CEP">

							</div>
							<div class="group">
								<button type="submit" class="blue">Salvar alterações</button>
							</div>

						</form>
					</div>
					<div class="col-sm box blue change-password">
						<h6>Mudar senha</h6>
						<form id="changeSenha" th:action="@{/updateSenhaEmp}"
							method="post">
							<div class="group">
								<label>Digite sua senha atual</label> <input id="oldSenha"
									type="password">
							</div>
							<div class="group">
								<label>Digite sua nova senha</label> <input name="senha"
									id="senha" type="password">
							</div>
							<div class="group">
								<label>Confirme sua nova senha</label> <input id="senhaconfirm"
									type="password">
							</div>
							<div class="group">
								<button type="submit">Salvar alterações</button>
							</div>
						</form>
					</div>
				</div>

				<div class="col-lg-12 px-1">
					<div class="col-sm box white">
						<h6>Conta</h6>
						<div class="group"
							style="display: flex; justify-content: space-around">
							<label style="margin: auto 0">Excluir perfil</label>
							<button type="submit" style="margin: 0; margin-left: 10px"
								class="red">Excluir</button>
						</div>
					</div>
				</div>
			</div>

		</div>

	</div>

	<script th:inline="javascript">
		var senha = [[${perfil.senha}]]
		$('#changeSenha').submit(function(e){
			
			console.log(document.getElementById('oldSenha').value)
			console.log(document.getElementById('senha').value)
			console.log(document.getElementById('senhaconfirm').value)
			
			if(document.getElementById('oldSenha').value != senha){
				alert('senha incorreta')
				event.preventDefault()
			}
			else{
				if(document.getElementById('senha').value != document.getElementById('senhaconfirm').value){
					alert('senhas digitadas não são iguais')
					event.preventDefault()
				}
				else if(document.getElementById('senha').value == ""){
					alert('a senha não pode ser vazia')
					event.preventDefault()
				}
				
			}
			
		})	
	
	</script>

	<script>
	    $('#search').change(function(){
	    	$('#regForm').submit()
	    })
	</script>

</body>
</html>