<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Início</title>
        <link rel="stylesheet" type="text/css" th:href="@{/css/template.css}">
        <script src="https://kit.fontawesome.com/b99e675b6e.js"></script>
        <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js"></script>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/malihu-custom-scrollbar-plugin/3.1.5/jquery.mCustomScrollbar.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <script defer src="https://use.fontawesome.com/releases/v5.0.13/js/solid.js" integrity="sha384-tzzSw1/Vo+0N5UhStP3bvwWPq+uvzCMfrN1fEFe+xBmv1C/AtVX5K0uZtmcHitFZ" crossorigin="anonymous"></script>
        <script defer src="https://use.fontawesome.com/releases/v5.0.13/js/fontawesome.js" integrity="sha384-6OIrr52G08NpOFSZdxxz1xdNSndlD4vdcf/q2myIUVO0VsqaGHJsB0RaBE01VTOY" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

    </head> 
    <body>

        <div class="wrapper-side">
            <div class="topnav"></div>
        </div>
	        
		<div class="main_container" id="main_container">
			<div class="row filter m-5">
				<div class="col-sm-9 area_post" id="container"></div>
			</div>
		</div>
      
        <script src="https://cdnjs.cloudflare.com/ajax/libs/malihu-custom-scrollbar-plugin/3.1.5/jquery.mCustomScrollbar.concat.min.js"></script>
		
    	<script th:src="@{/js/feed.js}"></script>  
    	<div th:insert="fragment.html :: loggedtopnav"></div>

    		<div class="sidebaremp">
    			<div class="modal left fade" id="sidebar" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                	<div class="modal-dialog" role="document">
                		<div class="modal-content"><div class="modal-body">
                    		<ul id="menu-nav">
                    			<li>
                    				<div class="hamburger-side btn-degrade azul" data-toggle="modal" data-target="#sidebar">
               							<div class="one"></div>
               							<div class="two"></div>
               							<div class="three"></div>
               						</div>
               					</li>
               					<li>
               						<img th:src="@{/imgs/logo.png}"  class="logo">
               					</li>
               				</ul>
               				
                   			<ul id="menu-list">
                   				<li>
                   					<a  onClick="change(1)">
	                   						<span class="icon">
	                   							<i class="fa fa-home" aria-hidden="true"></i>
	                   						</span>
	                   						<span class="title">Início</span>
                   					</a>
                   				</li>
                   				
                   				<li>
                  					<a onClick="change(2)">
                   						<span class="icon">
                   							<i class="fa fa-code"></i>
                   						</span>
                   						<span class="title">Meus desafios</span>
                   					</a>
                   				</li>
                   				<li>
                   					<a onClick="change(3)">
                   						<span class="icon">
                   							<i class="fa fa-cog" aria-hidden="true"></i>
                   						</span>
                   						<span class="title">Configurações</span>
                   					</a>
                   				</li>
                   				<li>
	                   				<a  th:attr="href='/logout'">
	                   					<span class="icon">
	                   						<i class="fas fa-sign-out-alt"></i>
	                   					</span>
	                   					<span class="title">Sair</span>
	                   				</a>
                   				</li>
                   			</ul>
                   			
                   		</div>
                   	</div>
                </div>
        	</div>
        </div>
        <script th:inline="javascript">
	        $('#search').keyup(function(){
				 
	        	search()
	        	
	        })
    		var email = [[${empresa.email}]]; //Your Thymleaf variable
	    	console.log(email)
    		var change = (value) =>{
    			var url=''
    			if(value == 1) url = '/dashboard' 
    			
    			if(value == 2) url = '/empMeusDesafios'
    			if(value == 3) url = '/empConfiguracoes'
    			
    	    			
    				$.ajax({
			    	    url:url,
			    	    type: "GET",
			            contentType: "application/json",
			    	    data:{
			    	    	"email":email
			    	    },
			    	    success: function(response) {
							console.log(response)
			    	 	   	$("#sidebar").modal("hide");
							$('#main_container').html('<div class="row filter m-5"> <div class="col-sm-9 area_post" id="container"></div></div>')
			    	    	$('#container').html(response)
		    	        },
			    	    error: function(error){
			    	    	console.log('deu merda')
			    	    }
			    	})


	    	}
    
			window.onload = function(){
				console.log([[${page}]])
				if([[${page}]] == null)
					change(1)
				else
    				change([[${page}]]);
    		}
    	</script>
    	
    <div th:insert="fragment.html :: footer"></div>
    
    </body>
</html>