<!DOCTYPE html>
<html lang="pt-br">
<head th:insert="fragment.html :: links">
<meta charset="UTF-8">
</head>

<body>

		<div  class="container-fluid">
		
		<div th:insert="fragment.html :: loggedtopnav"></div>
		<div th:insert="fragment.html :: sidebaremp"></div>
		
       	<div id="container" class="container-fluid content"></div>    
        
	
	</div>
	
	<script th:inline="javascript">
			/*<![CDATA[*/
   		$('#search').keyup(function(){
           	search() 
           	$('#result').html('Resultados para "'+$('#search').val()+'"')
    		
        })

   	    window.onload = function() {
    		var pesquisa = [[${pesquisa}]]; //Your Thymleaf variable
    		$('#search').val(pesquisa)
    		
    		search(pesquisa);
    	};
    	
		
		/*]]>*/
	</script>

</body>
</html>