<head>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" th:href="@{/css/signedIn.css}">
   <script src='https://kit.fontawesome.com/a076d05399.js'></script>
   <meta charset="UTF-8">

</head>

<body>
    <div class="container-fluid">
        <div th:insert="fragment.html :: loggedtopnav"></div>
		<div th:insert="fragment.html :: sidebaremp"></div>        
		<div class="container-fluid content config">
            <div class="row mt-3">
                <div class="col-12 px-1">
                    <div class="col-sm box white perfil" style="height: 100%">
                        <form th:action="@{/addDesafio/(email=${email})}" th:object="${desafio}" method="post">
                            <h6>Novo desafio</h6>

                            <div class="group">
                                <label>Nome do Desafio</label>
                                <input th:field="*{nome}" type="text" placeholder="Nome">
                            </div>
                            <div class="group">
                                <label>Descrição</label>
                                <textarea th:field="*{descricao}" name="Text1" rows="2" placeholder="Descrição"></textarea>

                            </div>
                           
                            
                            <div class="group">
                                <label>Área de atuação</label><br/>
                                <select th:field="*{areaDesenvolvimento}" name="cars" id="cars">
                                    <option value="Front-end">Front-end</option>
                                    <option value="Back-end">Back-end</option>
                                    <option value="Full-stack">Full Stack</option>
                                    <option value="Data Science">Data Science</option>
                                    <option value="Mobile">Mobile</option>
                                </select>
                            </div>
                             
                            <div class="group">
                            <input style="display: none" name="habilidade" id="habilidades" type="text" placeholder="">
                                <label>Habilidades</label>

                                <div class="multiselect">

                                    <div class="dropdown show">
                                        <input class="multisearch my-2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" input id="dropdownMenuLink" placeholder="Pesquisar">



                                        <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                                            <span style="display: none">Nenhum resultado encontrado.</span>
                                        </div>
                                    </div>

                                </div>
                            </div>
                             <div class="group">
                                <label>Data de término</label><br>
                                <input th:field="*{dataFim}" type="date" max="3000" min="1" style="width: 50%">
                                 <input th:field="*{horarioFim}" type="time" placeholder="Devs." style="width: 48.8%">
                            </div>
                            
                            
                            <div class="group">
                                <button type="submit" class="blue">Criar</button>
                            </div>
                            
                        </form>
                    </div>
                </div>
            </div>
            
        </div>
    </div>
    <script th:src="@{js/habilities.js}"></script>
    <script>
        $(document).ready(function() {

            $('.editar').append(
                '<i class="fas fa-pencil-alt" data-toggle="tooltip" data-placement="right" title="Editar"></i>'
            );
            
            $('[data-toggle="tooltip"]').tooltip();
            $('.group input, .group textarea').css({
                "background-color": "#F1F4FB",
    "border-radius": "5px",
            })
        });

    </script>
</body>
