<!doctype html>
<head>
<link rel="stylesheet" type="text/css" th:href="@{css/signedOut.css}">
<meta charset="utf-8">

<script src="https://kit.fontawesome.com/b99e675b6e.js"></script>
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script
	src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
<script
	src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
<link
	href="https://fonts.googleapis.com/css?family=Poppins&display=swap"
	rel="stylesheet">
<script src="http://jqueryvalidation.org/files/dist/jquery.validate.js"></script>
<script defer
	src="https://use.fontawesome.com/releases/v5.0.13/js/solid.js"
	integrity="sha384-tzzSw1/Vo+0N5UhStP3bvwWPq+uvzCMfrN1fEFe+xBmv1C/AtVX5K0uZtmcHitFZ"
	crossorigin="anonymous"></script>
<script defer
	src="https://use.fontawesome.com/releases/v5.0.13/js/fontawesome.js"
	integrity="sha384-6OIrr52G08NpOFSZdxxz1xdNSndlD4vdcf/q2myIUVO0VsqaGHJsB0RaBE01VTOY"
	crossorigin="anonymous"></script>
<script type="text/javascript" th:src="@{js/jquery.mask.js}"></script>

</head>
<body>
	<div style="overflow-x: hidden; overflow-y: hidden;"
		class="container-fluid">
		<div th:insert="fragment.html :: deftopnav"></div>
		<div class="container-fluid config mt-5">
			<div class="row mt-5">
				<div class="col-12 px-1">
					<div class="col-sm box white perfil" style="height: 100%">
						<form style="overflow: hidden" id="regFormCad" th:action="@{/addDev}"
						 method="post" enctype="multipart/form-data">
							<h6>Fazer cadastro</h6>
							<div class="section">
								<div class="group">
									<label>Nome completo</label> 
									<input type="text" th:field="*{dev.nome}"
										placeholder="Nome completo" style="width: 100%">
								</div>
								<div class="group">
									<label>CPF</label> 
									<input type="text" placeholder="CPF" th:field="*{dev.cpf}" 
									data-mask="(00) 00000-0000" style="width: 100%">
								</div>

								<div class="group">
									<label>Data de nascimento</label><br> 
									<input type="date" th:field="*{dev.dataNascimento}"
										max="3000" min="1" style="width: 100%">
								</div>

							</div>
							<div class="section">
								<div class="group">
									<label>Endereço</label>
								</div>
								<div class="group">
									<input type="text" placeholder="CEP" style="width: 100%" th:field="*{endereco.cep}"
									id="CEP">
								</div>
								<div class="group">
								
									<input type="text" th:field="*{endereco.estado}" id="estado" placeholder="Estado"/>
									<input type="text" th:field="*{endereco.cidade}" id="cidade" placeholder="Cidade"/>
									<input type="text" th:field="*{endereco.bairro}" id="bairro" placeholder="Bairro"/>
									<input type="text" th:field="*{endereco.rua}" id="rua" placeholder="Rua"/>
									
								</div>
								<div class="group">
									<input type="text" th:field="*{endereco.numero}" placeholder="Número" style="width: 100%">
								</div>

							</div>
							<div class="section">
								<div class="group">
									<label>E-mail</label> <input  th:field="*{dev.email}" type="email" placeholder="E-mail"
										style="width: 100%">
								</div>
								<div class="group">
									<label>Telefone para contato</label> <input type="text" th:field="*{dev.telefone}"
										placeholder="Telefone" style="width: 100%">
								</div>
								<div class="group">
									<label>Site pessoal</label> <input th:field="*{dev.site}"
										placeholder="Site pessoal" style="width: 100%">
								</div>
								<div class="group">
									<label>Tempo de experiência</label> <input th:field="*{dev.tempoExperiencia}" type="number"
										min='0' max='100' style="width: 100%">
								</div>
								<div class="group">
									<label>Defina sua senha</label> <input type="password" th:field="*{dev.senha}"
										placeholder="Digite sua senha" style="width: 100%">
								</div>
								<div class="group">
									<input type="password" placeholder="Digite sua senha novamente"
										style="width: 100%">
								</div>


							</div>
							<div class="section">
								<div class="group">
									<label>Áreas de atuação</label>
									<input id="areas" name="area" value="">
									<div class="multiselect area">

										<div class="dropdown show">
											<input autocomplete="off" class="multisearch my-2" data-toggle="dropdown"
												aria-haspopup="true" aria-expanded="false" input
												id="dropdownMenuLink" placeholder="Pesquisar">



											<div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
												<span style="display: none">Nenhum resultado
													encontrado.</span>
											</div>
										</div>

									</div>
								</div>
								<div class="group">
									<label>Habilidades</label>
									<input id="habilidades" name="habilidade" value="">
									<div class="multiselect">

										<div class="dropdown show">
											<input autocomplete="off" class="multisearch my-2" data-toggle="dropdown"
												aria-haspopup="true" aria-expanded="false" input
												id="dropdownMenuLink" placeholder="Pesquisar">



											<div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
												<span style="display: none">Nenhum resultado
													encontrado.</span>
											</div>
										</div>

									</div>
								</div>

							</div>
							<div class="section">
								<div class="group">
									<label>Currículo</label> <input id="curriculo" name="curriculo" type="file" style="width: 100%">
								</div>
								<div class="group">
									<label>Linkedin</label> <input th:field="*{dev.linkedIn}" type="url" placeholder="CPF"
										style="width: 100%">
								</div>
								<div class="group">
									<label>Github</label><br> <input th:field="*{dev.gitHub}" type="url"
										placeholder="Github" style="width: 100%">
								</div>
								<div class="group">
									<label>Apresentação</label>

									<textarea th:field="*{dev.apresentacao}" rows="2" placeholder="Apresente-se aqui"></textarea>
								</div>
								<div class="group">
									<label>Foto de perfil</label> <input name="foto" type="file"
										style="width: 100%" accept="image/*">
								</div>
							</div>
							<div>
								<div class="group"
									style="display: flex; text-align: center; justify-content: center; margin-bottom: 5px">
									<span class="index">Anterior</span> <span class="index blue">Próximo</span>
									<input style="z-index: 3;" type="submit" class="blue">
								</div>
							</div>


						</form>
					</div>
				</div>
			</div>
		</div>
	</div>


	
	<script th:src="@{js/cadastro.js}"></script>
	<script th:src="@{js/habilities.js}"></script>
	<script th:inline="javascript">
		$("#senha").keyup(function() {
			var f = testaSenha();
			var strong = '';
			$('.passwordStrong').css('display', 'block');
			$('.passwordStrong').html('');
			console.log(f);
			if (f < 30)
				strong = 'muito fraca'
			else if (f < 80)
				strong = 'fraca'
			else if (f < 100)
				strong = 'média'
			else
				strong = 'forte'

			$('.passwordStrong').append('Senha ' + strong);

		});

		$(document).ready(function() {
			$('#cpf').mask('000.000.000-00', {
				reverse : true
			});
			$('#telefone').mask('(00) 00000-0000');
			$('#CEP').mask('00000-000');
		});
	</script>
</body>
</html>
