<html>
<head>
<meta charset="utf-8">
<title>DevFinder</title>
<script src="https://kit.fontawesome.com/b99e675b6e.js"></script>
<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js"></script>
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css"
	integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4"
	crossorigin="anonymous">
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/malihu-custom-scrollbar-plugin/3.1.5/jquery.mCustomScrollbar.min.css">
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<script defer
	src="https://use.fontawesome.com/releases/v5.0.13/js/solid.js"
	integrity="sha384-tzzSw1/Vo+0N5UhStP3bvwWPq+uvzCMfrN1fEFe+xBmv1C/AtVX5K0uZtmcHitFZ"
	crossorigin="anonymous"></script>
<script defer
	src="https://use.fontawesome.com/releases/v5.0.13/js/fontawesome.js"
	integrity="sha384-6OIrr52G08NpOFSZdxxz1xdNSndlD4vdcf/q2myIUVO0VsqaGHJsB0RaBE01VTOY"
	crossorigin="anonymous"></script>
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
<link
	href="https://fonts.googleapis.com/css?family=Poppins&display=swap"
	rel="stylesheet">
<link rel="stylesheet" type="text/css" th:href="@{/css/signedOut.css}">
</head>
<body>

	<div th:insert="fragment.html :: deftopnav"></div>
	<div class="modal fade bd-example-modal" tabindex="-1" role="dialog"
		aria-labelledby="myLargeModalLabel" aria-hidden="true">
		<div class="modal-dialog modal-dialog-centered">
			<div class="modal-content mx-auto border-0">

				<div class="modal-body p-0 ">
					<button type="button" class="close" data-dismiss="modal"
						aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
					<div class="login">
						<form>
							<input placeholder="Email" required> <input
								placeholder="senha" type="password" required> <input
								type="submit">
						</form>
						<div class="message">
							Não tem conta? <span>Se cadastre</span>
						</div>

					</div>
					<div class="sign-up">
						<a href="cadastroDev.html">
							<button>Desenvolvedor</button>
						</a> <a href="cadastroEmp.html">
							<button>Empresa</button>
						</a>
						<div class="message">
							Já é cadastrado? <span>Entrar</span>
						</div>
					</div>
				</div>


			</div>
		</div>
	</div>
    <script>
        $(document).ready(function () {
            $('.modal-body .message span').click(function(){
                $('.modal-body').toggleClass('on')
            })
            
            $('.sign button').click(function(){
                $('.modal-body').addClass('on')
            })
            
            $('.sign-button').click(function(){
                $('.modal-body').removeClass('on')
            })
            
        })
    </script>
</body>
</html>