<html>
<head>
<meta charset="utf-8">
<title>DevFinder</title>
<script src="https://kit.fontawesome.com/b99e675b6e.js"></script>
<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js"></script>
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css"
	integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4"
	crossorigin="anonymous">
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/malihu-custom-scrollbar-plugin/3.1.5/jquery.mCustomScrollbar.min.css">
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<script defer
	src="https://use.fontawesome.com/releases/v5.0.13/js/solid.js"
	integrity="sha384-tzzSw1/Vo+0N5UhStP3bvwWPq+uvzCMfrN1fEFe+xBmv1C/AtVX5K0uZtmcHitFZ"
	crossorigin="anonymous"></script>
<script defer
	src="https://use.fontawesome.com/releases/v5.0.13/js/fontawesome.js"
	integrity="sha384-6OIrr52G08NpOFSZdxxz1xdNSndlD4vdcf/q2myIUVO0VsqaGHJsB0RaBE01VTOY"
	crossorigin="anonymous"></script>
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
<link
	href="https://fonts.googleapis.com/css?family=Poppins&display=swap"
	rel="stylesheet">
<link rel="stylesheet" type="text/css" th:href="@{/css/signedOut.css}">
</head>
<body>
	 <div class="container-fluid m-0 px-0" style="width: 100%">
		<div th:replace="fragment.html :: deftopnav"></div>
		<div class="container-fluid content mt-5 mx-0 px-0">
			<div class="top-content row">
				<div class="col-md-7">
					<div class="index" style="font-size: 30px">DevFinder é uma
						plataforma para recrutamento de desenvolvedores por meio de
						desafios</div>
					<div>
						<a href="./cadastroEmp.html" class="index blue mb-3">Sou
							empresa</a> <a href="./cadastroDev.html" class="index blue">Sou
							desenvolvedor</a>
					</div>
				</div>
				<div class="col-md-5">
					<img th:src="@{/imgs/undraw_code_typing_7jnv.svg}"
						style="height: 180px">
				</div>
			</div>
			<div class="row mx-2 infos">
				<div class="col-md">
					<img th:src="@{/imgs/undraw_Team_page_re_cffb.svg}"> Se
					você é um empresário, cadastre-se e crie desafios para recrutar
					desenvolvedores de acordo com sua necessidade!
				</div>
				<div class="col-md">
					<img th:src="@{/imgs/undraw_Freelancer_re_irh4.svg}"> Se
					você é um desenvolvedor, cadastre-se e participe de desafios para
					ser notado pelas empresas!
				</div>
				<div class="col-md">
					<img th:src="@{/imgs/undraw_code_review_l1q9.svg}"> Treine
					suas habilidades! Descubra empresas e desenvolvedores!
				</div>

			</div>

		</div>
		<div th:insert="fragment.html :: footer"></div>
	</div>

	<script>
		$(document).ready(function() {
            $('.modal-body .message span').click(function() {
                $('.modal-body').toggleClass('on')
            })

            $('.sign button').click(function() {
                $('.modal-body').addClass('on')
            })

            $('.sign-button').click(function() {
                $('.modal-body').removeClass('on')
            })
		})
	</script>
</body>
</html>