<head>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" href="/static/css/signedIn.css" />
    <script src='https://kit.fontawesome.com/a076d05399.js'></script>

</head>

<body>
    <div class="container-fluid">
        <nav class="nav">
            <div class="search">
                <input placeholder="Pesquise..." />
                <div class="item">
                    <i style='font-size:15px; justify-content: flex-end' class='fas'>&#xf002;</i>
                </div>
            </div>

            <div class="nav-right">
                <div class="item">
                    <i style='font-size:20px' class='far'>&#xf0f3;</i>
                </div>
                <div class="item hovered">
                    <i style='font-size:20px' class='far'>&#xf007;</i>
                </div>
            </div>
        </nav>
        <div class="sidebar-column">
            <ul class="sidebar">
                <li class="icon">
                    <img alt="Logo" src="/static/imgs/df-logo.svg">
                </li>
                <li>
                    <a href="#" class="item">
                        <i class="fas fa-home"></i>
                        <div>Início</div>
                    </a>
                </li>
                <li>
                    <a href="meusDesafios.html" class="item">
                        <i class="fas fa-th-list"></i>
                        <div>Meus desafios</div>
                    </a>
                </li>
                <li>
                    <a href="configuracoesEmp.html" class="item">
                        <i class="fas fa-cog"></i>
                        <div>Configurações</div>
                    </a>
                </li>
                <li>
                    <a href="homepage.html" class="item"> <i class="fas fa-sign-out-alt"></i>
                        <div>Sair</div>
                    </a>

                </li>
            </ul>
        </div>
        <div class="container-fluid content config">
            <div class="row mt-3">
                <div class="col-12 px-1">
                    <div class="col-sm box white perfil" style="height: 100%">
                        <form>
                            <h6>Novo desafio</h6>

                            <div class="group">
                                <label>Nome do Desafio</label>
                                <input type="text" placeholder="Nome">
                            </div>
                            <div class="group">
                                <label>Descrição</label>
                                <textarea name="Text1" rows="2" placeholder="Descrição"></textarea>

                            </div>
                           
                            <div class="group">
                                <label>Habilidades</label>

                                <div class="multiselect">

                                    <div class="dropdown show">
                                        <input class="multisearch my-2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" input id="dropdownMenuLink" placeholder="Pesquisar">



                                        <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                                            <span style="display: none">Nenhum resultado encontrado.</span>
                                        </div>
                                    </div>

                                </div>
                            </div>
                             <div class="group">
                                <label>Data de término</label><br>
                                <input type="date" max="3000" min="1" style="width: 50%">
                                 <input type="time" placeholder="Devs." style="width: 48.8%">
                            </div>
                            
                            
                            <div class="group">
                                <button type="submit" class="blue">Criar</button>
                            </div>
                            
                        </form>
                    </div>
                </div>
            </div>
            
        </div>
    </div>
    <script src="/static/js/habilities.js"></script>
    <script>
        $(document).ready(function() {

            $('.editar').append(
                '<i class="fas fa-pencil-alt" data-toggle="tooltip" data-placement="right" title="Editar"></i>'
            );
            
            $('[data-toggle="tooltip"]').tooltip();
            $('.group input, .group textarea').css({
                "background-color": "#F1F4FB",
    "border-radius": "5px",
            })
        });

    </script>
</body>
