<html>
<head th:insert="fragment.html :: links">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
   
    <script src='https://kit.fontawesome.com/a076d05399.js'></script>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha256-4+XzXVhsDmqanXGHaHvgh1gMQKX40OUvDEBTu8JcmNs=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.js"></script>
    
<link rel="stylesheet" type="text/css" th:href="@{css/signedIn.css}">
<meta charset="utf-8">
</head>

<body>
	<div class="container-fluid">
		<div th:insert="fragment.html :: loggedtopnav"></div>

		<div th:if="${perfil}">
			<div th:if="${serviceDev.getDesenvolvedorById(perfil.email)}">
				<div th:insert="fragment.html :: sidebardev"></div>
			</div>
			<div th:unless="${serviceDev.getDesenvolvedorById(perfil.email)}">
				<div th:insert="fragment.html :: sidebaremp"></div>
			</div>
		</div>
		<div th:unless="${perfil}">
			<div th:insert="fragment.html :: deftopnav"></div>
		</div>
		<div class="container-fluid content">

			<div class="row my-3 ml-1">
				<!--                perfil empresa-->
				<!-- 
				<div class="col-12 ">
					<div class="col-sm-12 box white row">
						<div class="col-sm-3 ">
							<div class="perfil-photo blue"></div>
							<div class="modal-title text-center">
								<b>Razão social</b>
							</div>
						</div>
						<div class="col-sm-9 row perfil-data">
							<div class="col-12">
								<i class="fas fa-map-marker-alt"></i> Estado, Cidade, Rua número
							</div>
							<div class="col-md-4">
								<i class="fas fa-phone"></i> 92 99999-7777
							</div>
							<div class="col-md-8">
								<i class="fas fa-at"></i> empresa@gmail.com
							</div>
							<div class="col-md-4">
								<i class="fas fa-users"></i> 3 Desenvolvedores
							</div>
							<div class="col-md-4">Vagas físicas</div>
						</div>
					</div>
				</div>
				-->
				<!--                perfil dev-->
				<div class="col-12 ">
					<div class="col-sm-12 box white row">
						<div class="col-sm-3 ">
							<div class="perfil-photo blue"></div>
							<div class="modal-title text-center">
								<b th:text="${dev.nome}">Nome do usuário</b>
							</div>
						</div>
						<div class="col-sm-9 row perfil-data">
							<div class="col-12">
								<i class="fas fa-map-marker-alt"></i> 
								<div style="display: inline-block" th:text="${dev.endereco.estado}+'-'+${dev.endereco.cidade}+', '+${dev.endereco.rua}+', '+'n. '+${dev.endereco.numero}"></div>
							</div>
							<div class="col-md-4">
								<i class="fas fa-phone"></i> <div style="display: inline-block" th:text="${dev.telefone}"></div>
							</div>
							<div class="col-md-8">
								<i class="fas fa-at"></i><div style="display: inline-block" th:text="${dev.nome}"></div>
							</div>
							<div class="col-md-4">
								<i class="fas fa-code"></i> Back-end
							</div>
							<div class="col-md-12">
								<span>Java</span> <span>React</span>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!--  
		<div class="container-fluid content">
			<div class="col-sm-12 perfil-top p-4">
				<div class="row m-4 align-items-end">
					<div class="col-sm-4 text-center">
						<span> <span th:if="${dev.foto == null}"> <svg
									width="100" height="100">
                                    		<circle cx="50" cy="50" r="50"
										fill="blue" />
                                		</svg>
						</span> <span th:if="${dev.foto != null}"> <img
								style="border-radius: 50%;" width="150" height="150"
								th:src="@{'/imageDev/'+${dev.email}}" />

						</span>
							<h3 style="overflow-wrap: break-word" th:text="${dev.nome}"></h3>
						</span>

					</div>
					<div class="col-sm-8" style="font-size: 16px">
						<span>Endereço: </span> <span
							th:text="${dev.endereco.estado}+'-'+${dev.endereco.cidade}+', '+${dev.endereco.rua}+', '+'n. '+${dev.endereco.numero}"></span>
						<p>
							<span>Telefone: </span> <span th:text="${dev.telefone}"></span>
						</p>
						<p>
							<span>Email: </span> <span th:text="${dev.email}"></span>
						</p>
						<p>
							<span>Área de atuação: </span><span th:text="${area}" />
						</p>
						<div class="cell-list-content-tag">
							<td th:each="habilidade:${service.getHabilidades(dev.email)}">
								<span class="tag-list background-gray"
								th:text="${habilidade.getHabilidade()}"></span>
							</td>
						</div>
						</p>
					</div>
				</div>
				<div class="row">
					<div class="col-sm-12 border-top">
						<h2 class="text-center">Desafios inscritos</h2>
						<div class="desafios"></div>
					</div>
				</div>
			</div>
		</div>
	</div>
	-->
			<script th:src="@{/js/moldesComponentes.js}"></script>

			<script th:inline="javascript">
		var desafios = [[${desafios}]]; //Your Thymleaf variable
		
		console.log(desafios)
		for(var i = 0; i < desafios.length; i++){
			desafios[i] = desafios[i].desafio
			var emailEmpresa = desafios[i].emailEmpresa;
			var id = desafios[i].id
			//console.log(desafios[i])
			$.ajax({
    	    	url:'/desafioHabilidades/'+emailEmpresa+'/'+id,
	    	    type: "GET",
	    	    async: false,
	            contentType: "application/json",
	    	    success: function(response) {
	    	    	var habilidades = []
	    	    
	    	    	for(var j = 0; j < response.length; j++){
	    	    		habilidades.push(response[j].habilidade)
	    	    	}
	    	    	desafios[i].habilidades = habilidades
	    	    	
    	        },
	    	    error: function(error){
	    	    	console.log(error)
	    	    }
			})	
		}
		desafios.forEach(function (item, index) {
			
		    criarDesafio(index, item.nome, item.empresa.nomeFantasia, 
		    			item.areaDesenvolvimento, item.descricao, item.habilidades, item.dataFim, item.horarioFim)
		})
	</script>

			<script th:src="@{/js/filtroDesafio.js}"></script>
</body>
</html>