<html>
    <head>
        <meta charset="utf-8">
        
    	<link rel="stylesheet" type="text/css" href="/css/template.css">
        <script src="https://kit.fontawesome.com/b99e675b6e.js"></script>
        <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js"></script>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/malihu-custom-scrollbar-plugin/3.1.5/jquery.mCustomScrollbar.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <script defer src="https://use.fontawesome.com/releases/v5.0.13/js/solid.js" integrity="sha384-tzzSw1/Vo+0N5UhStP3bvwWPq+uvzCMfrN1fEFe+xBmv1C/AtVX5K0uZtmcHitFZ" crossorigin="anonymous"></script>
        <script defer src="https://use.fontawesome.com/releases/v5.0.13/js/fontawesome.js" integrity="sha384-6OIrr52G08NpOFSZdxxz1xdNSndlD4vdcf/q2myIUVO0VsqaGHJsB0RaBE01VTOY" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    </head>
    <body>
        <div class="topnav"></div>
        <div class="bg-degrade">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12 perfil-top p-4">
                       <div class="row">
                            <div class="col-sm-3 text-center">
                                <svg width="100" height="100">
                                    <circle cx="50" cy="50" r="50" fill="blue" />
                                </svg>
                                <h3 style="overflow-wrap: break-word" th:text="${empresa.razaoSocial}"></h3>
                           </div>
                           <div class="col-sm-9" style="font-size: 16px">
                               <p>
                               		<span>Endereço: </span> 
                               		<span th:text="${empresa.endereco.estado}+'-'+${empresa.endereco.cidade}+', '+${empresa.endereco.rua}+', '+'n. '+${empresa.endereco.numero}"></span>
                               		
                               	</p>
                               <p><span>Telefone: </span> <span th:text="${empresa.telefone}"></span></p>
                               <p><span>Email: </span> <span th:text="${empresa.email}"></span></p>
                               <p><span>Ramo: </span> <span th:text="${empresa.ramoMercado}"></span></p>
                               <p><span th:text="${empresa.totalDesenvolvedores}"></span> Desenvolvedores   ||  <span th:text="${empresa.tipoVaga}"></span></p>
                        </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12 border-top">
                                <h2 class="text-center">Desafios</h2>
                                <div class="area_post">
                                	<tr th:each="desafio: ${desafios}">
										<div class="post">
											<div class="row">
												<div class="col-sm-12"> 
													<div class="col-sm-3"> 
														<img src="http://placehold.it/260x180" alt=""> 
													</div> 
													<div class="col-sm-9">
													
														<h4 th:text="${desafio.id}"></h4> 
														<h4 th:text="${desafio.nome}"></h4> 
														<p th:text="${desafio.descricao}"></p>
														<div class="cell-list-content-icon">
															<span> <i class="fab fa-dev"></i> <span th:text="${desafio.areaDesenvolvimento}"></span></span>
															<span> <svg class="svg-inline--fa fa-home fa-w-18" style="margin-right: 10px;" aria-hidden="true" data-prefix="fa" data-icon="home" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512" data-fa-i2svg=""><path fill="currentColor" d="M488 312.7V456c0 13.3-10.7 24-24 24H348c-6.6 0-12-5.4-12-12V356c0-6.6-5.4-12-12-12h-72c-6.6 0-12 5.4-12 12v112c0 6.6-5.4 12-12 12H112c-13.3 0-24-10.7-24-24V312.7c0-3.6 1.6-7 4.4-9.3l188-154.8c4.4-3.6 10.8-3.6 15.3 0l188 154.8c2.7 2.3 4.3 5.7 4.3 9.3zm83.6-60.9L488 182.9V44.4c0-6.6-5.4-12-12-12h-56c-6.6 0-12 5.4-12 12V117l-89.5-73.7c-17.7-14.6-43.3-14.6-61 0L4.4 251.8c-5.1 4.2-5.8 11.8-1.6 16.9l25.5 31c4.2 5.1 11.8 5.8 16.9 1.6l235.2-193.7c4.4-3.6 10.8-3.6 15.3 0l235.2 193.7c5.1 4.2 12.7 3.5 16.9-1.6l25.5-31c4.2-5.2 3.4-12.7-1.7-16.9z"></path></svg><span th:text="${empresa.tipoVaga}"></span></span>
														</div>
														<div class="cell-list-content-tag">	 
															<td th:each="habilidade:${service.getHabilidades(desafio.emailEmpresa, desafio.id)}">
																<span class="tag-list background-gray" th:text="${habilidade.getHabilidade()}"></span>
															</td>
														</div>
													</div>
												</div>
											</div>
											<div class="row">
												 <div class="col-sm-12 line"> 
												 	<div class="col-sm-4">
												 		<span>Termina em </span> 
												 		<span th:text="${desafio.dataFim}"></span>
												 		<span>as </span>
												 		<span th:text="${desafio.horarioFim}"></span>
												 	</div>
												 	<div class="col-sm-7 offset-sm-1">
											 			<button type="button" class="modal-btn azul" data-toggle="modal" data-target="#exampleModal" th:attr="data-target='#exclusaoDesafio'+${desafio.id}">Participar</button>
											 		</div>
												 </div>
											</div>
										</div>
   									</tr>                    
                                </div>
                            </div>      
                        </div>
                    </div>
                </div>
            </div>
            <div th:insert="fragment.html :: footer"></div>
        </div> 
        <div class="sidebardev"></div>
        
    	<script th:src="@{/js/append.js}"></script>  

    </body>
</html>