<html>
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" type="text/css" href="../static/css/template.css"/>
         <script src="https://kit.fontawesome.com/b99e675b6e.js"></script>
        <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js"></script>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/malihu-custom-scrollbar-plugin/3.1.5/jquery.mCustomScrollbar.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <script defer src="https://use.fontawesome.com/releases/v5.0.13/js/solid.js" integrity="sha384-tzzSw1/Vo+0N5UhStP3bvwWPq+uvzCMfrN1fEFe+xBmv1C/AtVX5K0uZtmcHitFZ" crossorigin="anonymous"></script>
        <script defer src="https://use.fontawesome.com/releases/v5.0.13/js/fontawesome.js" integrity="sha384-6OIrr52G08NpOFSZdxxz1xdNSndlD4vdcf/q2myIUVO0VsqaGHJsB0RaBE01VTOY" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    </head>
    <body>
        <div class="topnav"></div>
        <div class="bg-degrade">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12 perfil-top p-4">
                       <div class="row">
                            <div class="col-sm-3">
                                <svg width="140" height="140">
                                    <circle cx="70" cy="70" r="70" fill="blue" />
                                </svg>
                           </div>
                           <div class="col-sm-9 justify-items-between">
                                <h3>Nome social</h3>
                               <p><span>Endereço</span> <span>Telefone</span></p>
                               <p>Email</p>
                               <p><span>Ramo</span> <span>XX Desenvolvedores</span></p>
                           </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12 border-top">
                                <h2>Desafios</h2>
                            </div>      
                        </div>
                    </div>
                </div>
            </div>
            <footer class="footer"></footer>
        </div> 
        <div class="sidebardev"></div>
        <script src="../static/js/append.js"></script>
    </body>
</html>