<div class="bg-degrade azul">
	<div class="container">
		<div class="row">
			<div class="col-sm-12 perfil-top p-4">
				<h3 class="col-lg-12  text-center" style="padding: 5px"
					id="linkLogin">
				</h3>

				<div  th:if="${emps.size()}" class="col-sm-12 user">
					<h4>Empresas</h4>
						<ul>
							<tr th:each="emp: ${emps}">
								<li>
									<svg width="50" height="50">
		                                    <circle cx="25" cy="25" r="25"
											fill="yellow" />
		                                </svg>
		                            <a  th:href="@{'empresaById/'+ ${emp.email}}">
										<h5 th:text="${emp.razaoSocial}"></h5>
									</a>
								</li>
							
							</tr>
						</ul>
				</div>
				<div th:if="${devs.size()}" class="col-sm-12 user">
					<h4 >
						Desenvolvedores
					</h4>
					
					<ul>
						<tr th:each="dev: ${devs}">
							<li>
								<svg width="50" height="50">
	                                    <circle cx="25" cy="25" r="25"
										fill="blue" />
	                                </svg>
	                             <a  th:href="@{'desenvolvedorById/'+ ${dev.email}}">
									<h5 th:text="${dev.nome}"></h5>
	                             </a>
							</li>
						
						</tr>
					</ul>
					
				</div>
				<div  th:if="${desafios.size()}" class="col-sm-12">

					<h4>Desafios</h4>
					<div class="row">
						<div class="col-sm-4" data-toggle="collapse"
							href="#collapseExample" role="button" aria-expanded="false"
							aria-controls="collapseExample">
							<h5>Filtros(Clique aqui)</h5>
						</div>
					</div>
					<div class="row collapse" id="collapseExample">
						<div class="col-sm-3">
							<h4>Filtro 1</h4>
							<ul>
								<li>checkbox</li>
								<li>checkbox</li>
								<li>checkbox</li>
							</ul>
						</div>
						<div class="col-sm-3">
							<h4>Filtro 2</h4>
							<ul>
								<li>checkbox</li>
								<li>checkbox</li>
								<li>checkbox</li>
							</ul>
						</div>
					</div>
					<div class="area_post">
						<tr th:each="desafio: ${desafios}">
							<div class="post">
								<div class="row">
									<div class="col-sm-12">
										<div class="col-sm-3">
											<img src="http://placehold.it/260x180" alt="">
										</div>
										<div class="col-sm-9">
											<h4 th:text="${desafio.nome}"></h4>
											<p th:text="${desafio.descricao}"></p>
											<div class="cell-list-content-icon">
												<span> <i class="fab fa-dev"></i> <span
													th:text="${desafio.areaDesenvolvimento}"></span></span>

											</div>
											<div class="cell-list-content-tag">
												<td
													th:each="habilidade:${service.getHabilidades(desafio.emailEmpresa, desafio.id)}">
													<span class="tag-list background-gray"
													th:text="${habilidade.getHabilidade()}"></span>
												</td>
											</div>
										</div>
									</div>
								</div>
								<div class="row">
									<div class="col-sm-12 line">
										<div class="col-sm-4">
											<span>Termina em </span> <span th:text="${desafio.dataFim}"></span>
											<span>as </span> <span th:text="${desafio.horarioFim}"></span>
										</div>
										
										<div th:if="${perfil}">
											<div th:if="${serviceDev.getDesenvolvedorById(perfil.email)}">
												<div th:if="${serviceSub.getInscricaoById(perfil.email, desafio.emailEmpresa, desafio.id)}">
													<button type="button" th:id="${desafio.id}" disabled
													class="modal-btn azul">Inscrito</button>
												</div>
												<div th:unless="${serviceSub.getInscricaoById(perfil.email, desafio.emailEmpresa, desafio.id)}">
													<button type="button" th:id="${desafio.id}" th:attr="onclick=|participar('${desafio.id}', '${desafio.emailEmpresa}')|"
													class="modal-btn azul">Participar</button>
												</div>
											</div>
										</div>
										
									</div>
								</div>
							</div>
						</tr>

					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<script>
		$('#linkLogin').html('Resultados para '+$('#search').val())
</script>
