<!DOCTYPE html>
<html lang="pt-br">
<head th:insert="fragment.html :: links">
<meta charset="UTF-8">
<link rel="stylesheet" type="text/css" th:href="@{/css/signedOut.css}">
<script th:src="@{/js/moldesComponentes.js}"></script>
</head>

<body>

	<div class="container-fluid">

		<div th:insert="fragment.html :: loggedtopnav"></div>

		<div class="container-fluid content">
			<div id="container"></div>
			<div class="col-xl-8 mb-2 p-0 mx-auto row">
				<div class="col-md-3 filtro mt-2">Desafios</div>

				<div class="col-lg-7 filtro mt-2 ml-lg-auto">

					Estado <select class="white filtro-estado">
						<option>Todos</option>
						<option>Finalizados</option>
						<option>Em andamento</option>
					</select> Área <select class="white filtro-area">
						<option>Todos</option>
						<option>Front-end</option>
						<option>Back-end</option>
						<option>Full stack</option>
						<option>Data science</option>
					</select>


				</div>
				<div id="desafios" class="desafios row"></div>
				
			</div>

		</div>


	</div>

	<script th:inline="javascript">
			/*<![CDATA[*/
		const perfil = [[${perfil}]]
			
   		$('#search').keyup(function(){
           	search() 
           	//$('#result').prepend('Resultados para "'+$('#search').val()+'"')
    		
        })

   	    window.onload = function() {
    		var pesquisa = [[${pesquisa}]]; //Your Thymleaf variable
    		$('#search').val(pesquisa)
    		
    		search(pesquisa);
    	};
    	
    	var participar = function(id, email){
			//alert(id)
			
			$.ajax({
	    	    url: "/addInscricao",
	    	    type: "GET",
	            contentType: "application/json",
	    	    data:{
	    	    	"id":id,
	    	    	"email":email
	    	    },
	    	    success: function(response) {
	    	    	console.log('deu certo esta merda')
	    
					//console.log(response)  
					console.log('link'+id)
					document.getElementById('link'+id).innerHTML = 'Inscrito'
    	    	   //$('#link'+id).html('Inscrito')
	    	       

		        },
	    	    error: function(xhr) {
		            //Do Something to handle error
		            console.log('deu pau')
		        }
	    	})

		}

		
		/*]]>*/
	</script>
	<script th:src="@{/js/moldesComponentes.js}"></script>
	<script th:inline="javascript">
		var desafios = [[${desafios}]]
		
		for(var i = 0; i < desafios.length; i++){
			var emailEmpresa = desafios[i].emailEmpresa;
			var id = desafios[i].id
			//console.log(desafios[i])
			
			$.ajax({
		    	url:'/desafioHabilidades/'+emailEmpresa+'/'+id,
	    	    type: "GET",
	    	    async: false,
	            contentType: "application/json",
	    	    success: function(response) {
	    	    	var habilidades = []
	    	    
	    	    	for(var j = 0; j < response.length; j++){
	    	    		habilidades.push(response[j].habilidade)
	    	    	}
	    	    	desafios[i].habilidades = habilidades
	    	    	
		        },
	    	    error: function(error){
	    	    	console.log(error)
	    	    }
			})	
			
		}
		desafios.forEach(function (item, index) {
			console.log('ok, criou')
			criarDesafioView(item.id, item.nome, item.empresa.nomeFantasia, 
		    			item.areaDesenvolvimento, item.descricao, item.habilidades, item.dataFim, item.horarioFim, item.emailEmpresa)
		})
	
	</script>

</body>
</html>