<!DOCTYPE html>
<html lang="pt-br">
<head th:insert="fragment.html :: links">
<meta charset="UTF-8">
</head>

<body>
	<div class="container-fluid">

		<div th:insert="fragment.html :: loggedtopnav"></div>
		<div th:insert="fragment.html :: sidebaremp"></div>
		<div class="modal fade" id="desafioEdit" tabindex="-1" role="dialog"
			aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
			<div class="modal-dialog modal-dialog-centered" role="document">
				<div class="modal-content border-0">
					<div class="modal-body border-0">
						<button type="button" class="close" data-dismiss="modal"
							aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
						<h5>Editar desafio</h5>
						<form method="post"
							th:action="@{/updateDesafio(id=${desafio.id})}">
							<div class="group">
								<label>Nome</label> <input th:field="${desafio.nome}"
									type="text">
							</div>
							<div class="group">
								<label>Descrição</label> <input th:field="${desafio.descricao}"
									type="text">
							</div>
							<div class="group">
								<label>Data de fim</label> <input th:field="${desafio.dataFim}"
									type="date"> <input th:field="${desafio.horarioFim}"
									type="time">
							</div>

						<button type="button" class="red" data-toggle="modal" data-target="#excluirDesafio">
                            Excluir desafio
                        </button>
							<button type="button" class="btn btn-secondary"
								data-dismiss="modal">Close</button>
							<button type="submit" class="btn btn-primary">Save
								changes</button>
						</form>

                        <!-- Modal -->
                        <div class="modal fade" id="excluirDesafio" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                            <div class="modal-dialog modal-dialog-centered" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalCenterTitle">Modal title</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        Tem certeza que deseja excluir esse desafio?
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Não</button>
                                        <form th:action="@{'/deleteDesafio/'+${desafio.id}}">
                                        	<button type="submit" class="btn btn-primary">Sim</button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
					</div>
				</div>
			</div>
		</div>
		<div class="container-fluid content">
			<div class="row">
				<div class="col-md-12 m-1 box white">
					<div class="row">
						<div class="col-12" style="text-align: end; margin-bottom: -10px">
							<span data-toggle="modal" data-target="#desafioEdit"> <i
								class="fas fa-pencil-alt" data-toggle="tooltip"
								data-placement="left" title="Editar"></i></span>
						</div>
						<div class="col-sm-4 col-md-3 ml-3">
							<div class="icon m-auto"></div>
						</div>
						<div class="col-sm">
							<div class="col-sm-12 title mb-2">
								<h5 th:text="${desafio.nome}">
									<span>
								</h5>
							</div>

							<div class="col-sm-12 habilidades"
								th:each="habilidade:${service.getHabilidades(desafio.emailEmpresa, desafio.id)}">
								<span class="tag-list background-gray"
									th:text="${habilidade.getHabilidade()}"></span>
							</div>

							<div class="col-sm-12 descricao-sub">

								<div>
									<span th:text="${desafio.areaDesenvolvimento}"></span>
									<div th:text="${desafio.descricao}"></div>
								</div>

							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-6 data">
							<i class="far fa-clock"></i> <span th:text="${desafio.dataFim}"></span>
							<span th:text="${desafio.horarioFim}"></span>

						</div>
					</div>
				</div>


			</div>
			<div class="row meus-desafios">
				<div class="col-xl-12 mb-2 p-2 desafios mx-auto">
					<div class="row filtro" id="sub">
						<div id="count" class="col-sm-6 mb-3">Submissões (34)</div>
						<div class="col-sm-6 text-right mb-3">Filtros</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<script>
		function createSubmissao(obj){
			
			$('#sub').append('<div class="col-lg box white sub mx-2">'+
					'<div class="row"> <div class="col-sm"><div class="col-sm-12 user mb-2">'+
					'<div class="icon-user"></div><h5 class="my-auto mx-2"><b>'+obj.desenvolvedor.nome+'</b>'+
							'</h5> <div class="sub-data my-auto"><i class="far fa-clock"></i> '+
							obj.dataEnvio+' '+obj.horarioEnvio+ '</div></div>'+
							'<div class="col-sm-12 github-link">'+
							'<i class="fab fa-github"></i>'+
							'<a href="'+obj.linkGithub+'"> '+obj.linkGithub+'</a></div>'+
							'<div class="col-sm-12 descricao-sub mt-3">'+obj.descricao+'</div></div></div>'+
							'<div class="row"> <div class="col-sm text-right">'+
							'<a href="#">Responder</a> <a href="#"></a>'+
							'</div></div></div>'
			)
		}
	
	</script>
	<script th:inline="javascript">
		var desafio = [[${desafio}]]; //Your Thymleaf variable
		$(document).ready(function() {
            $('[data-toggle="tooltip"]').tooltip();

        })
		$.ajax({
			url:'/solucoesByDesafio/'+desafio.emailEmpresa+'/'+desafio.id,
    	    type: "GET",
    	    async: false,
            contentType: "application/json",
    	    data:{
    	    	
    	    },
    	    success: function(response) {
    	    	response.forEach(function(item, index){
    	    		createSubmissao(item)
    	    	})
				console.log(response)
				document.getElementById("count").innerHTML = "Submissões ("+response.length+")"
    	    	
	        },
    	    error: function(error){
    	    	console.log('deu pau')
    	    	console.log(error)
    	    }
		})
		
	</script>

</body>
</html>