footer{
    background-color: #3f3d56;
    border-top-left-radius: 50px;
border-top-right-radius: 50px;
    padding: 50px;
    padding-bottom:0;
    color: white;
}

.list-unstyled li a{
     color: white;
    text-decoration: none;
}

.noturno{
    width: 100%;
}