footer {
  font-family: Rubik,Arial,sans-serif;
    font-weight: 400;
    font-size: 1rem;
    overflow-x: hidden;
    color: #607289;
	
  background: #fff;
}

footer h5{
    font-size: 0.9rem;
    line-height: 1.375;
  font-family: Rubik,Arial,sans-serif;
    font-weight: 500;
}

footer img{
	max-height: 80px;
	margin: 20px;
}

footer h3{
	padding: 50px;
}