
*{
 font-family: "Poppins", sans-serif;
  
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
}


/*NAVBAR & SIDEBAR*/

body{
    margin: 0 !important;
  padding: 0 !important;
}

container{
    display: block;
}
.top_navbar-side{
  width: 100%;
  height: 60px;
  display: flex;
  position: fixed;
  z-index: 5;
  top: 0px;
      box-shadow: 0 4px 8px 0 rgba(101, 112, 113, 0.5);
}

.top_navbar-side .top_menu-side{
  width: 100%;
  z-index: 5;
  height: 100%;
  background: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  box-shadow: 0 1px 1px rgba(0,0,0,0.1);
}

.top_menu-side ul{
  display: flex;
    margin-top: 15px!important;
}

.top_navbar-side .top_menu-side ul li a{
  display: block;
  margin: 0 10px;
  text-align: center;
  border-radius: 10px;
  color: #49c2d0;
	padding: 10px;
	font-size: 15px;
	text-decoration: none;
}

top_navbar-side .top_menu-side ul li a:hover{
    color: black;
}
  .top_navbar-side .top_menu-side ul li a:hover i{
  color: #fff;
}

/*Botão de pesquisar*/

.buscar-caja:hover > .buscar-txt {
	position: relative;
	left: 45px;
	width: 180px;
	padding: 0px 6px;
	border-radius: 40px;
	border: 1px solid #46a3bb;
}

.buscar-caja:hover .buscar-btn{
	border: none!important;
	background: white;
	margin-left: 0px;
}

.buscar-btn {
	color: black;
	float: right;
	height: 100% !important;
	border: 0px white!important;
	display: flex;
	justify-content: center;
	align-items: center;
	transition: 0.4s;
	color: white;
	cursor: pointer;
}

.buscar-txt {
	border: none;
	height: 35px;
	background: none;
	outline: none;
	float: left;
	padding: 0;
	transition: 0.4s;
	width: 0px;
	line-height: 35px;
}

/***********************/

/*Do botão de notificação*/

.dropdown-menu{
  width: 100px;
  max-height: 100px;
  margin-right:15px !important;
}

.dropdown-menu h5, .dropdown-menu p{
  padding: 10px;
  border-bottom: 1px solid rgba(0,0,0,.2);
}

.notification p{
  margin: 0px 5px;
  padding-top: 5px;
}

@media (max-width: 640px) {
    .dropdown-menu{
      top: 50px;
      left: -16px;  
      width: 290px;
    } 
    .nav{
      display: block;
    }
    .nav .nav-item,.nav .nav-item a{
      padding-left: 0px;
    }
    .message{
      font-size: 13px;
    }
}

/*** CONTAINERS****/

.c-header{
	background: linear-gradient(218deg, rgba(84,222,218,1) 11%, rgba(73,194,208,1) 43%, rgba(31,136,180,1) 100%);
	padding: 100px;
	color: white;
	margin-bottom: -100px;
}

.modal-btn {
    font-size: 16px;
    color: #fff !important;
    cursor: pointer;
    background-size: 300% 100%;
	padding: 10px;
	border-radius: 10px;
    moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
	background-image: linear-gradient(to right, #49c2d0, #49c2d0, #1f88b4);
    box-shadow: 0 4px 8px 0 rgba(101, 112, 113, 0.5);
}

.modal-btn:hover {
    background-position: 100% 0;
    moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
	text-decoration: none;
	color: white;
}

.modal-btn:focus {
    outline: none;
}

.description{
    text-align: center;
    padding: 50px;
    height: 200px;
}