
*{
 font-family: "Poppins", sans-serif;
  
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
}


/*NAVBAR & SIDEBAR*/

body{
    margin: 0 !important;
  padding: 0 !important;
}

container{
    display: block;
}
.top_navbar-side{
  width: 100%;
  height: 60px;
  display: flex;
  position: fixed;
  z-index: 5;
  top: 0px;
      box-shadow: 0 4px 8px 0 rgba(101, 112, 113, 0.5);
}

.top_navbar-side .top_menu-side{
  width: 100%;
  z-index: 5;
  height: 100%;
  background: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  box-shadow: 0 1px 1px rgba(0,0,0,0.1);
}

.top_navbar-side .top_menu-side ul{
  display: flex;
    margin-top: 15px;
}

.top_navbar-side .top_menu-side ul li a{
  display: block;
  margin: 0 10px;
  text-align: center;
  border-radius: 10px;
  color: #49c2d0;
	padding: 7px;
	font-size: 15px;
	text-decoration: none;
}

top_navbar-side .top_menu-side ul li a:hover{
    color: black;
}
  .top_navbar-side .top_menu-side ul li a:hover i{
  color: #fff;
}

/*Botão de pesquisar*/

.buscar-caja:hover > .buscar-txt {
	position: relative;
	left: 45px;
	width: 180px;
	padding: 0px 6px;
	border-radius: 40px;
	border: 1px solid #46a3bb;
}

.buscar-caja:hover .buscar-btn{
	border: none!important;
	background: white;
	margin-left: 0px;
}

.buscar-btn {
	color: black;
	float: right;
	height: 100% !important;
	border: 0px white!important;
	display: flex;
	justify-content: center;
	align-items: center;
	transition: 0.4s;
	color: white;
	cursor: pointer;
}

.buscar-txt {
	border: none;
	height: 35px;
	background: none;
	outline: none;
	float: left;
	padding: 0;
	transition: 0.4s;
	width: 0px;
	line-height: 35px;
}

/***********************/

/*Do botão de notificação*/

.dropdown-menu{
  width: 100px;
  max-height: 100px;
  margin-right:15px !important;
}

.dropdown-menu h5, .dropdown-menu p{
  padding: 10px;
  border-bottom: 1px solid rgba(0,0,0,.2);
}

.notification p{
  margin: 0px 5px;
  padding-top: 5px;
}

@media (max-width: 640px) {
    .dropdown-menu{
      top: 50px;
      left: -16px;  
      width: 290px;
    } 
    .nav{
      display: block;
    }
    .nav .nav-item,.nav .nav-item a{
      padding-left: 0px;
    }
    .message{
      font-size: 13px;
    }
}

/*** CONTAINERS****/

.bg{
	background: linear-gradient(218deg, rgba(84,222,218,1) 11%, rgba(73,194,208,1) 43%, rgba(31,136,180,1) 100%);
	padding-top: 100px;
	color: white;
}

.modal-btn {
    font-size: 16px;
    color: #fff !important;
    cursor: pointer;
    background-size: 300% 100%;
	padding: 10px;
	border-radius: 10px;
    moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
	background-image: linear-gradient(to right, #49c2d0, #49c2d0, #1f88b4);
    box-shadow: 0 4px 8px 0 rgba(101, 112, 113, 0.5);
}

.modal-btn:hover {
    background-position: 100% 0;
    moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
	text-decoration: none;
	color: white;
}

.modal-btn:focus {
    outline: none;
}

.modal-content{
    color: #000;
}
.user ul{
    margin: 0;
    padding: 0;
    height: 100px;
    overflow: hidden;
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
    -webkit-overflow-scrolling: touch;
  
}
::-webkit-scrollbar {
    height: 5px;
}



::-webkit-scrollbar-thumb {
  background-color: #b0b0b0;
  background-clip: padding-box;
}

::-webkit-scrollbar-thumb:hover {
    background-color: dimgrey;
}

::-webkit-scrollbar-track {
  background-color: #fff;
}
/* Buttons */
::-webkit-scrollbar-button{
  display: none;
}

.user ul li svg{
    box-shadow: 0 4px 8px 0 rgba(101, 112, 113, 0.5);
    border-radius: 50%;
}
.user ul li{
    position: relative;
    top: 0;
    display: inline-block;
    margin: 5px;    
    width: 70px;
    text-align: center;
}

.user ul h5{
    overflow: hidden;
}


.post{
  padding: 10px 15px;
  margin-bottom: 15px;
  padding-bottom: 15px;
}

.line{
  padding-bottom: 10px;
  border-bottom: 1px solid #ccc;
}

.post img{
  width: 100%;
  min-width: 80px;
  margin-right: 20px;
  margin-bottom: 5px;
}

.post h4{
  margin: 0 0 5px 0;
  padding: 0;
}

.creator{
  float: right;
  font-size: 16px;
}

.post button{
  margin-left: 15px;
  float: right;
}

.post:last-child{
  border-bottom: 0;
} 

.cell-list-content-icon i{

  margin-right: 5px;
}
.cell-list-content-icon span{
  margin-right: 10px; 
}

.cell-list-content-tag{
  margin-top: 10px; 
}

.tag-list {
  background-color: #f4f4f4;
  font-size: 14px;
  padding: 6px 14px;
  border-radius: 1em;
  text-decoration: none;
  margin-right: 6px;
  margin-bottom: 5px;
  display: inline-block;
}

.collapse{
    background-color: #ebebeb;
}